<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a class="" href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            <div class="shop-top">
                <h1 class="content-title">Оформление заказа</h1>

                <div class="order-total">
                    <a href="#">Вернуться в корзину</a>
                    <table>
                        <tr>
                            <td>Сумма заказа</td>
                            <td>1 369.50 руб</td>
                        </tr>
                        <tr>
                            <td>Доставка</td>
                            <td>0.00 руб</td>
                        </tr>
                        <tr>
                            <th>Итого</th>
                            <th><span>1 369.50</span> руб</th>
                        </tr>
                    </table>
                </div>

                <h3>Оформите заказ всего в три шага!</h3>
            </div>

            
            
            <form action="" id="shop-order">
                <div class="order-block">
                    <div class="order-title order-title--contact">Контактные данные</div>
                    <div class="order-line">
                        <label for="">
                            ФИО <span>*</span>
                        </label>
                        <input type="text" name="name">    
                    </div>  
                    <div class="order-line">
                        <div class="form-col">
                            <label>
                                Телефон <span>*</span>
                            </label>
                            <input type="text" name="phone">    
                        </div>
                        <div class="form-col">
                            <label>
                                E-mail <span>*</span>
                            </label>
                            <input type="text" name="email">    
                        </div>
                    </div>
                    <div class="order-line">
                        <input type="checkbox" name="rules" id="rules">
                        <label for="rules" class="order-checkbox"><i></i>Я согласен с <a href="#">правилами и особенностями работы интернет-магазина ПАО «Томскэнергосбыт»</a></label>
                    </div>
                </div>
                <div class="order-block">
                    <div class="order-title order-title--delivery">Способ доставки</div>
                    <div class="delivery-list">
                        <div class="delivery-one">
                            <div class="delivery-title">
                                Самовывоз
                            </div>
                            <div class="delivery-descr">
                                Вы можете забрать свой заказ по адресу: г. Томск, ул. Котовского, 19 или в клиентском офисе ПАО «Томскэнергосбыт»
                            </div>
                            <div class="order-line">
                                <label for="">Точка вывоза  <a href="#delivery" class="open-modal">выбрать на карте</a></label>
                                <div class="select">
                                   <input type="text">
                                   <div class="select-list" style="display: none;">
                                       <div class="select-list__one  select-default">Пункт 1</div>
                                       <div class="select-list__one">Пункт 2</div>
                                       <div class="select-list__one">Пункт 3</div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="order-block">
                    <div class="order-title order-title--pay">Способ оплаты</div>
                    <div class="pay-metod">
                        <p>После подтверждения заказа нашим оператором, на вашу элекронную почту будет отправлено соответствующее уведомление с дальнейшими инструкциями по получению и оплате. Вы сможете оплатить заказ:</p>
                        <ul>
                            <li>Через интернет с помощью банковской карты</li>
                            <li>Наличными при получении в пункте выдачи</li>
                            <li>С помощью банковской карты при получении в пункте выдачи</li>
                        </ul>
                    </div>
                </div>

                <button class="oder-button">Оформить заказ</button>

            </form>
        </div>
    </div>    
</div>
