<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a class="curr" href="#">Законодательство</a>
                    <ul>
                        <li><a class="curr"  href="#">Электроэнергетика</a>
                        <li><a href="#">Энергосбережение</a>
                        <li><a href="#">ЖКХ</a>
                    </ul>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Законодательство</h1>
            
            <div class="tab-menu">
                <div class="tab-menu__one active tab-menu__one--bulp">Электроэнергетика</div>
                <div class="tab-menu__one tab-menu__one--money">Энергосбережение</div>
                <div class="tab-menu__one tab-menu__one--home">ЖКХ</div>
            </div>

            <div class="tab-list">
                <div class="tab-one open">
                    <div class="doc-filtr">
                        <div class="doc-filtr-one">
                            <div class="doc-filtr-one__title">
                                Тип документа:
                            </div>
                            
                            <div class="select doc-filtr__select">
                               <input type="text" readonly>
                               <div class="select-list" style="display: none;">
                                   <div class="select-list__one  select-default">Все</div>
                                   <div class="select-list__one">Постановления</div>
                                   <div class="select-list__one">Фдеральные законы</div>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="zakon-list">
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                         <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                         <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                    </div>
                </div>

                <div class="tab-one">
                    <div class="doc-filtr">
                        <div class="doc-filtr-one">
                            <div class="doc-filtr-one__title">
                                Тип документа:
                            </div>
                            
                            <div class="select doc-filtr__select">
                               <input type="text" readonly>
                               <div class="select-list" style="display: none;">
                                   <div class="select-list__one  select-default">Все</div>
                                   <div class="select-list__one">Постановления</div>
                                   <div class="select-list__one">Фдеральные законы</div>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="zakon-list">
                        <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                         <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                         <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                    </div>
                </div>

                <div class="tab-one">
                    <div class="doc-filtr">
                        <div class="doc-filtr-one">
                            <div class="doc-filtr-one__title">
                                Тип документа:
                            </div>
                            
                            <div class="select doc-filtr__select">
                               <input type="text" readonly>
                               <div class="select-list" style="display: none;">
                                   <div class="select-list__one  select-default">Все</div>
                                   <div class="select-list__one">Постановления</div>
                                   <div class="select-list__one">Фдеральные законы</div>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="zakon-list">
                        <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                         <a href="#" class="doc doc--doc">Федеральный закон № 35-ФЗ от 26 марта 2003г. «Об электроэнергетике».</a>
                        <a href="#" class="doc doc--doc">Федеральный закон от 26.03.2003 № 36-ФЗ «Об особенностях функционирования электроэнергетики в переходный период и о внесении изменений в некоторые законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием Федерального закона «Об электроэнергетике».</a>
                    </div>
                </div>
            </div>



            
           

        </div>
    </div>    
</div>
