<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a class="curr" href="#">О компании</a>
                    <ul>
                        <li><a href="#">Общая информация о деятельности компании</a></li>
                        <li><a href="#">Управление компанией</a></li>
                        <li><a href="#">География деятельности</a></li>
                        <li><a href="#">Свидетельства и лицензии</a></li>
                        <li><a href="#">Банковские реквизиты</a></li>
                        <li><a href="#">Контакты (схема проезда)</a></li>
                        <li><a class="curr" href="#">Наши достижения</a></li>
                    </ul>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Наши достижения</h1>
            
            <p>Выполнение принятых обязательств перед потребителями — главная задача ПАО «Томскэнергосбыт». Мы стремимся поддерживать эффективную работу для своих клиентов и укреплять позиции на рынке. А оценка нашей работы потребителями – это показатель эффективности деятельности компании.</p>

            <p>По итогам 2014 года ПАО «Томскэнергосбыт» было отмечено дипломом победителя за I место в конкурсе «Лучшая энергосбытовая компания — гарантирующий поставщик Группы «Интер РАО».</p>

            <p>Также, Томская энергосбытовая компания стала победителем конкурса «Лучший энергосбыт РФ —2014» в номинациях: «Энергосбытовая компания с самым широким спектром услуг» и «Наиболее информационно открытая компания».</p>

            <p>ПАО «Томскэнергосбыт» продолжает развивать компанию в интересах Томска и области и стремится к </p>

            <div class="achiev">
                <div class="achiev__title">
                    Наши награды
                </div>
                <div class="achiev-year">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide curr">2010</div>
                        <div class="swiper-slide">2011</div>
                        <div class="swiper-slide">2012</div>
                        <div class="swiper-slide">2013</div>
                        <div class="swiper-slide">2014</div>
                        <div class="swiper-slide">2015</div>
                        <div class="swiper-slide">2016</div>
                    </div>
                </div>
                <div class="achiev-slider">
                    <div class="swiper-wrapper">
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Номинация «Энергосбыт - энергосбережение». В номинации «Энергосбытовая компания с самым широким спектром услуг» ПАО «Томскэнергосбыт» отмечено специальным  призом за инвестиционный проект «Комплексная оптимизация, модернизация систем учета энергоресурсов многоквартирных жилых домов г. Томска». Получен приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Номинация «Энергосбыт - энергосбережение». В номинации «Энергосбытовая компания с самым широким спектром услуг» ПАО «Томскэнергосбыт» отмечено специальным  призом за инвестиционный проект «Комплексная оптимизация, модернизация систем учета энергоресурсов многоквартирных жилых домов г. Томска».</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                                <div class="achiev-one">
                                    <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                    <div class="achiev-one__title">Лучшая компания года 2012</div>
                                    <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                                </div>
                        </div>
                        <div class="achiev-list swiper-slide">
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/diplom.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                            <div class="achiev-one">
                                <img class="achiev-one__img" src="tmp/achiev.jpg" alt="">
                                <div class="achiev-one__title">Лучшая компания года 2012</div>
                                <div class="achiev-one__text">Лауреат ежегодной международной премии «Лучшая компания года 2012». Присвоено почетное звание «Социально-ответственное предприятие». Получены почетный диплом лауреата Премии и приз-статуэтка.</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
