<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a class="curr" href="#">О компании</a>
                    <ul>
                        <li><a href="#">Общая информация о деятельности компании</a></li>
                        <li><a href="#">Управление компанией</a></li>
                        <li><a href="#">География деятельности</a></li>
                        <li><a class="curr" href="#">Свидетельства и лицензии</a></li>
                        <li><a href="#">Банковские реквизиты</a></li>
                        <li><a href="#">Контакты (схема проезда)</a></li>
                        <li><a href="#">Наши достижения</a></li>
                    </ul>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Свидетельства и лицензии</h1>
                
            <div class="sert-list">
                <div class="sert-one">
                    <a class="sert-zoom" href="http://urgaps.ru/upload_3/lits-urgaps-1.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <div class="sert-one__title">Лицензия по изготовлению и ремонту средств измерения</div>
                    <a class="sert-one__link" href="#">Скачать документ</a>
                </div>
                <div class="sert-one">
                    <a class="sert-zoom" href="http://urgaps.ru/upload_3/lits-urgaps-1.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <div class="sert-one__title">Лицензия по изготовлению и ремонту средств измерения</div>
                    <a class="sert-one__link" href="#">Скачать документ</a>
                </div>
                <div class="sert-one">
                    <a class="sert-zoom" href="http://urgaps.ru/upload_3/lits-urgaps-1.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <div class="sert-one__title">Лицензия по изготовлению и ремонту средств измерения</div>
                    <a class="sert-one__link" href="#">Скачать документ</a>
                </div>
            </div>
            <div class="sert-list">
                <div class="sert-one">
                    <a class="sert-zoom" href="http://urgaps.ru/upload_3/lits-urgaps-1.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <div class="sert-one__title">Лицензия по изготовлению и ремонту средств измерения</div>
                    <a class="sert-one__link" href="#">Скачать документ</a>
                </div>
                <div class="sert-one">
                    <a class="sert-zoom" href="http://urgaps.ru/upload_3/lits-urgaps-1.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <div class="sert-one__title">Лицензия по изготовлению и ремонту средств измерения</div>
                    <a class="sert-one__link" href="#">Скачать документ</a>
                </div>
            </div>
        </div>
    </div>    
</div>
