<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a class="curr" href="#">Интернет-магазин</a>
                    <ul>
                        <li><a class="curr"  href="#">Товары</a>
                        <li><a href="#">Услуги</a>
                        <li><a href="#">Комплексные заказы</a>
                    </ul>
                </li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            <div class="shop-top">
                <h1 class="content-title">Интернет-магазин</h1>

                <a href="#" class="cart">
                    <div class="cart-icon"></div>
                    <div class="cart-quant">В корзине <span>3 товара</span></div>
                    <div class="cart-summ">на сумму <span>3 400 руб.</span></div>
                    <div class="cart-quant--mobile">3</div>
                </a>
                
                <div class="sub-menu">
                    <a href="#" class="sub-menu__one active tab-menu__one--bulp">Товары</a>
                    <a href="#" class="sub-menu__one tab-menu__one--services">Услуги</a>
                    <a href="#" class="sub-menu__one tab-menu__one--complex">Комплексные заказы</a>
                </div>
            </div>

          
                    <div class="doc-filtr">
                        <div class="doc-filtr-one">
                            <div class="doc-filtr-one__title">
                                Вид товара:
                            </div>
                            
                            <div class="select doc-filtr__select">
                               <input type="text" readonly>
                               <div class="select-list" style="display: none;">
                                   <div class="select-list__one  select-default">Все</div>
                                   <div class="select-list__one">Счетчики</div>
                                   <div class="select-list__one">Электролампы</div>
                               </div>
                            </div>
                        </div>
                        <div class="doc-filtr-one">
                            <div class="doc-filtr-one__title">
                                Сортировать:
                            </div>
                            
                            <div class="select doc-filtr__select">
                               <input type="text" readonly>
                               <div class="select-list" style="display: none;">
                                   <div class="select-list__one  select-default">Наименованию</div>
                                   <div class="select-list__one">По возрастанию цены</div>
                                   <div class="select-list__one">По убыванию цены</div>
                                   <div class="select-list__one">По дате добавления</div>
                               </div>
                            </div>
                        </div>
                        <div class="goods-filtr">
                        Фильтр:   <a href="#" class="active">Акция</a><a href="#">Новинка</a><a href="#">Товар месяца</a>
                        </div>
                    </div>

                    <div class="goods-list">
                        <div class="goods">
                            <div class="goods-icons">
                                <div class="goods-icon goods-icon--sale"></div>
                                <div class="goods-icon goods-icon--new"></div>
                            </div>
                            <a href="#" class="goods__img"><img src="tmp/goods-1.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"></div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <div class="goods-icons">
                                <div class="goods-icon goods-icon--new"></div>
                                <div class="goods-icon goods-icon--best"></div>
                            </div>
                            <a href="#" class="goods__img"><img src="tmp/goods-2.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"></div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <a href="#" class="goods__img"><img src="tmp/goods-1.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"><span>982.00</span> руб.</div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <a href="#" class="goods__img"><img src="tmp/goods-2.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"><span>982.00</span> руб.</div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <div class="goods-icons">
                                <div class="goods-icon goods-icon--sale"></div>
                                <div class="goods-icon goods-icon--new"></div>
                            </div>
                            <a href="#" class="goods__img"><img src="tmp/goods-1.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"><span>982.00</span> руб.</div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <div class="goods-icons">
                                <div class="goods-icon goods-icon--new"></div>
                                <div class="goods-icon goods-icon--best"></div>
                            </div>
                            <a href="#" class="goods__img"><img src="tmp/goods-2.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"><span>982.00</span> руб.</div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <a href="#" class="goods__img"><img src="tmp/goods-1.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"><span>982.00</span> руб.</div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>
                        <div class="goods">
                            <a href="#" class="goods__img"><img src="tmp/goods-2.jpg" alt=""></a>
                            <a href="#" class="goods__title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                            <div class="goods__descr">Счетчик электроэнергии с шунтом в качестве датчика тока. Измерение и учет активной энергии в однофазных цепях переменного тока (крепится на DIN-рейку).</div>
                            <div class="goods__price-old"></div>
                            <div class="goods__price"><span>782.00</span> руб.</div>
                            <div class="goods-quant">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                            <button class="goods-buy">В корзину</button>
                        </div>

                    </div>
                    <div class="pagination">
                        <a href="#" class="prev">Назад</a>
                        <a href="#" class="pagination-one curr">1</a>
                        <a href="#" class="pagination-one">2</a>
                        <a href="#" class="pagination-one">3</a>
                        <a href="#" class="next">Вперед</a>
                    </div>

                    


                



            
           

        </div>
    </div>    
</div>
