<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a class="curr" href="#">Интернет-магазин</a>
                    <ul>
                        <li><a class="curr"  href="#">Товары</a>
                        <li><a href="#">Услуги</a>
                        <li><a href="#">Комплексные заказы</a>
                    </ul>
                </li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <div class="shop-top">
                <div class="cart">
                    <div class="cart-icon"></div>
                    <div class="cart-quant">В корзине <span>3 товара</span></div>
                    <div class="cart-summ">на сумму <span>3 400 руб.</span></div>
                    <div class="cart-quant--mobile">3</div>
                </div>
                
                <div class="sub-menu">
                    <a href="#" class="sub-menu__one active tab-menu__one--bulp">Товары</a>
                    <a href="#" class="sub-menu__one tab-menu__one--services">Услуги</a>
                    <a href="#" class="sub-menu__one tab-menu__one--complex">Комплексные заказы</a>
                </div>
            </div>

            
            <div class="goods-card">
                    <div class="goods-icons">
                        <div class="goods-icon goods-icon--sale"></div>
                        <div class="goods-icon goods-icon--new"></div>
                    </div>
                    <h1>Счетчик электроэнергии CE 101 R5 145 М6</h1>
                    <div class="goods-card__img"><img src="tmp/goods-card.jpg" alt=""></div>
                    <div class="card-price">
                        <div class="card-price__title">Цена за единицу:</div>
                        <div class="goods__price-old"><span>882.00</span> руб.</div>
                        <div class="goods__price"><span>782.00</span> руб.</div>
                    </div>
                    <div class="goods-quant">
                        <div class="goods-quant__minus"></div>
                        <input type="text" value="1">
                        <div class="goods-quant__plus"></div>
                    </div>
                    <button class="goods-buy goods-buy--card">В корзину</button>
                    
                    <h2>Технические характеристики </h2>

                    <table>
                        <tr>
                            <td>Показатели</td>
                            <td>Величины </td>
                        </tr>
                        <tr>
                            <td>Класс точности*</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Число тарифов</td>
                            <td>1 </td>
                        </tr>
                        <tr>
                            <td>Частота измерительной сети, Гц</td>
                            <td>50±2,5 </td>
                        </tr>
                        <tr>
                            <td>Номинальное напряжение, В</td>
                            <td>230 </td>
                        </tr>
                        <tr>
                            <td>Номинальная (максимальная) сила тока, А</td>
                            <td>5(60) </td>
                        </tr>
                        <tr>
                            <td>Стартовый ток, А</td>
                            <td>0,01 </td>
                        </tr>
                        <tr>
                            <td>Габаритные размеры, мм</td>
                            <td>170 x 115 x 53 </td>
                        </tr>
                        <tr>
                            <td>Масса, не более, кг</td>
                            <td>0,5</td>
                        </tr>
                    </table>

                    <p>
                        Наличие стандартного телеметрического выхода позволяет использовать электросчетчики как датчики приращения энергии в автоматизированных измерительных системах (АСКУЭ) 
                    </p>

                    <h2>Особенности электросчетчика</h2>
                    <ul>
                        <li>Новый корпус полностью соответствует международным стандартам.</li>
                        <li>Увеличение свободного пространства под крышкой клеммной коробки повышает удобство монтажа подводящих кабельных линий.</li> 
                        <li>Новая клеммная колодка с наборными токоотводами.</li>
                        <li>Наличие шунта в качестве измерителя тока.</li> 
                        <li>Малое собственное энергопотребление. </li>
                        <li>Стандартный импульсный телеметрический выход, гальванически развязанный от измерительных цепей. Световой индикатор работы.</li> 
                        <li>Наличие в электросчетчиках механического или электронного сумматора.</li> 
                        <li>Защита от недоучета и хищений электроэнергии.</li> 
                        <li>Устойчивость к климатическим, механическим и электромагнитным воздействиям.</li>
                        <li>Электросчетчик устойчив к нагреву и огню.</li>
                    </ul>

                    <h2>Характеристики надежности </h2>
                    <p>Средняя наработка на отказ — 160000 часов.<br>
                    Межповерочный интервал — 16 лет. <br>
                    Средний срок службы — 30 лет.<br>
                    Гарантийный срок (срок хранения и срок эксплуатации суммарно) — 5 лет с даты выпуска.</p>
                    
                    <div class="goods-card_bottom">
                        <a href="#">К списку товаров</a>
                    </div>
            </div>


            
           

        </div>
    </div>    
</div>
