<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a class="curr" href="#">Пресс-центр</a>
                    <ul>
                        <li><a class="curr" href="#">Новости</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">Видеогалерея</a></li>
                    </ul>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">ПАО «Томскэнергосбыт» приступило к SMS-оповещению должников за электроэнергию</h1>
                
            <div class="news-one-date">27 октября 2016 г.</div>

            <div class="news-content">
                <div class="news-one-text">
                    <img src="tmp/news-one.jpg" alt="">
                    <p>ПАО «Томскэнергосбыт» переходит на новый формат общения с должниками и начинает SMS-информирование бытовых потребителей г. Томска, имеющих задолженность за потреблённую электроэнергию.</p>
                    <p>Уведомления о задолженности получат потребители, несвоевременно оплачивающие квитанции, и накопившие долги перед гарантирующим поставщиком. В SMS-сообщении абонентам указывается: кто отправил сообщение – ПАО «Томскэнергосбыт», информация о сумме долга и номер телефона контакт-центра 48-47-87.</p>
                    <p>Позвонив по указанному номеру, должники получат полную информацию о размере задолженности, способах погашения долга и способах оплаты.</p>
                    <p>ПАО «Томскэнергосбыт» переходит на новый формат общения с должниками и начинает SMS-информирование бытовых потребителей г. Томска, имеющих задолженность за потреблённую электроэнергию.</p>
                    <p>Уведомления о задолженности получат потребители, несвоевременно оплачивающие квитанции, и накопившие долги перед гарантирующим поставщиком. В SMS-сообщении абонентам указывается: кто отправил сообщение – ПАО «Томскэнергосбыт», информация о сумме долга и номер телефона контакт-центра 48-47-87.</p>
                    <p>Позвонив по указанному номеру, должники получат полную информацию о размере задолженности, способах погашения долга и способах оплаты.</p>
                    <p>По итогам 9 месяцев 2016 года дебиторская задолженность потребителей перед ПАО «Томскэнергосбыт» составила 319 млн рублей, из них 181,7 млн рублей – долги жителей областного центра.</p>
                </div>

                <div class="news-tag">
                    <div class="news-tag__title">Тэги:</div>
                    <a href="#">Томскэнергосбыт</a>,  <a href="#">электроэнергия</a>,  <a href="#">задолженность</a>,  <a href="#">долг</a>,  <a href="#">уведомления</a>
                </div>

                <div class="news-one-bottom">
                    <div class="news-one-share">
                        <div class="like">
                            <div class="like-icon like-icon--vk"></div>
                            <div class="like-counter">5</div>
                        </div>
                        <div class="like">
                            <div class="like-icon like-icon--fb"></div>
                            <div class="like-counter">22</div>
                        </div>
                    </div>
                    <a href="#" class="news-one-back">К списку новостей</a>
                </div>
            </div>


            <h1>Другие новости</h1>
            <div class="main-news-box clearfix">
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
            </div>
        </div>
    </div>    
</div>
