<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Личный кабинет</h1>

            <div class="lk-menu">
                <div class="lk-menu-wrap">
                    <div class="lk-menu__one lk-menu__one--user active"><a href="#">30013366</a></div>
                    <div class="lk-menu__one lk-menu__one--orders"><a href="#">История заказов</a></div>
                    <div class="lk-menu__one lk-menu__one--profile"><a href="#">Редактрировать данные</a></div>
                    <div class="lk-menu__one lk-menu__one--settings"><a href="#">Настройки</a></div>
                    
                    <div class="lk-menu__one lk-menu__one--exit"><a href="#">Выйти</a></div>
                </div>
            </div>
            

            <div class="lk-head">
                <div class="lk-head-top">
                    <div class="lk-coll">
                        <div class="lk-coll__title">Номер договора энергоснабжения</div>
                        <div class="lk-coll__number">30013366</div>
                    </div>
                    <div class="lk-dog">
                        <div class="lk-status active">Договор активен</div>
                        <a href="#" class="lk-list-open">
                            Список договоров
                        </a>

                        <div class="lk-list">
                            <div class="lk-list__alert">При выборе договора может поменяться список доступных сервисов</div>
                            <table>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">30013366</div>
                                        <div class="lk-list__active">Договор активен</div>
                                    </td>
                                    <td>
                                        Роман Фёдорович Григорьев
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">10022287</div>
                                        <a class="lk-list__activate" href="#">Сделать активным</a>
                                    </td>
                                    <td>
                                        Курдюков Валерий Анатольевич
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        <a class="lk-list__del" href="#">Удалить</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">02058499</div>
                                        <a class="lk-list__activate" href="#">Сделать активным</a>
                                    </td>
                                    <td>
                                        Дисман Дора Иосифовна
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        <a class="lk-list__del" href="#">Удалить</a>
                                    </td>
                                </tr>




                            </table>
                        </div>
                    </div>
                    <div class="lk-coll">
                        <div class="lk-coll__title">ФИО</div>
                        <div class="lk-coll__name">Роман Фёдорович <br>Григорьев</div>
                    </div>
                    <div class="lk-coll">
                        <div class="lk-coll__title">Контакты</div>
                        <div class="lk-coll__contact"><span>Адрес:</span> г. Томск, ул. Котовского 28, кв. 77</div>
                        <div class="lk-coll__contact"><span>E-mail:</span> sobor@ensb.tomsk.ru</div>
                    </div>
                </div>
            </div>

            
            <div class="lk-type">
                <div class="order-title order-title--jkh">Оплата услуг ЖКХ через интернет</div>
                
                <a class="lk-back" href="#">Назад к списку</a>

                <div class="lk-pay">
                    <div class="spoler">
                        <div class="spoler__text">
                            <p>При оплате вы можете привязать карту, которую потом можно будет использовать для ежемесячных платежей или быстрой оплате</p>
                        </div>
                        <div class="spoler__title">Информация</div>
                    </div>

                    <form action="" id="jkh-pay">
                            <div class="order-line">
                                <div class="form-col3">
                                    <label>
                                        Штрих-код
                                    </label>
                                    <input type="text" name="phone" placeholder="Введите штрих-код">    
                                </div>
                                <div class="form-colx">
                                    <label>
                                        Оплатить за
                                    </label>
                                    <div class="select select--month">
                                       <input type="text">
                                       <div class="select-list" style="display: none;">
                                           <div class="select-list__one">Январь</div>
                                           <div class="select-list__one">Февраль</div>
                                           <div class="select-list__one">Март</div>
                                           <div class="select-list__one">Апрель</div>
                                           <div class="select-list__one">Май</div>
                                           <div class="select-list__one">Июнь</div>
                                           <div class="select-list__one">Июль</div>
                                           <div class="select-list__one">Август</div>
                                           <div class="select-list__one">Сентябрь</div>
                                           <div class="select-list__one  selected select-default">Октябрь</div>
                                           <div class="select-list__one">Ноябрь</div>
                                           <div class="select-list__one">Декабрь</div>
                                       </div>
                                    </div>
                                       
                                </div>
                                <div class="form-colx">
                                     <label>
                                    </label>
                                    <div class="select select--year">
                                       <input type="text">
                                       <div class="select-list" style="display: none;">
                                           <div class="select-list__one">2015</div>
                                           <div class="select-list__one">2016</div>
                                           <div class="select-list__one  selected select-default">2017</div>
                                       </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="order-line">
                                <div class="form-col3">
                                    <label>
                                        На сумму в рублях
                                    </label>
                                    <input type="text" name="phone" placeholder="Введите сумму">    
                                </div>
                            </div>
                            <div class="order-line">
                                <input type="checkbox" name="card" id="card">
                                <label for="card" class="order-checkbox"><i></i>Привязать банковскую карту <a href="#" class="info"></a></label>
                            </div>
                        <button class="lk-pay__button">Оплатить квитанцию</button>
                    </form>


                </div>

            </div>       
           

        </div>
    </div>    
</div>
