<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Личный кабинет</h1>

            <div class="lk-menu">
                <div class="lk-menu-wrap">
                    <div class="lk-menu__one lk-menu__one--user active"><a href="#">30013366</a></div>
                    <div class="lk-menu__one lk-menu__one--orders"><a href="#">История заказов</a></div>
                    <div class="lk-menu__one lk-menu__one--profile"><a href="#">Редактрировать данные</a></div>
                    <div class="lk-menu__one lk-menu__one--settings"><a href="#">Настройки</a></div>
                    
                    <div class="lk-menu__one lk-menu__one--exit"><a href="#">Выйти</a></div>
                </div>
            </div>
            

            <div class="lk-head">
                <div class="lk-head-top">
                    <div class="lk-coll">
                        <div class="lk-coll__title">Номер договора энергоснабжения</div>
                        <div class="lk-coll__number">30013366</div>
                    </div>
                    <div class="lk-dog">
                        <div class="lk-status active">Договор активен</div>
                        <a href="#" class="lk-list-open">
                            Список договоров
                        </a>

                        <div class="lk-list">
                            <div class="lk-list__alert">При выборе договора может поменяться список доступных сервисов</div>
                            <table>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">30013366</div>
                                        <div class="lk-list__active">Договор активен</div>
                                    </td>
                                    <td>
                                        Роман Фёдорович Григорьев
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">10022287</div>
                                        <a class="lk-list__activate" href="#">Сделать активным</a>
                                    </td>
                                    <td>
                                        Курдюков Валерий Анатольевич
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        <a class="lk-list__del" href="#">Удалить</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="lk-list__number">02058499</div>
                                        <a class="lk-list__activate" href="#">Сделать активным</a>
                                    </td>
                                    <td>
                                        Дисман Дора Иосифовна
                                    </td>
                                    <td>
                                        г. Томск, ул. Котовского 28, кв. 77
                                    </td>
                                    <td>
                                        <a class="lk-list__del" href="#">Удалить</a>
                                    </td>
                                </tr>




                            </table>
                        </div>
                    </div>
                    <div class="lk-coll">
                        <div class="lk-coll__title">ФИО</div>
                        <div class="lk-coll__name">Роман Фёдорович <br>Григорьев</div>
                    </div>
                    <div class="lk-coll">
                        <div class="lk-coll__title">Контакты</div>
                        <div class="lk-coll__contact"><span>Адрес:</span> г. Томск, ул. Котовского 28, кв. 77</div>
                        <div class="lk-coll__contact"><span>E-mail:</span> sobor@ensb.tomsk.ru</div>
                    </div>
                </div>
            </div>

            <div class="lk-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="tmp/lk-slider.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="tmp/lk-slider.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="tmp/lk-slider.jpg" alt=""></div>
                </div>
            </div>

            



            
            <div class="lk-type">
                <h3>Вы можете воспользоваться следующими on-line сервисами:</h3>
                <div class="pays">
                    <div class="pay">
                        <i class="icon icon--bulb"></i>
                        <div class="pay__title pay__title--lk">Оплата<br>электроэнергии<br>через интернет</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--battery"></i>
                        <div class="pay__title pay__title--lk">Оплата<br>отопления и ГВС<br>через интернет</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--home"></i>
                        <div class="pay__title pay__title--lk">Оплата<br>услуг ЖКХ<br>через интернет</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--account"></i>
                        <div class="pay__title pay__title--lk">Мои<br>платежи</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--counter"></i>
                        <div class="pay__title pay__title--lk">Передать<br>показания прибора<br>учета</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--dinamic"></i>
                        <div class="pay__title pay__title--lk">Динамика<br>электропотребления</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--mail"></i>
                        <div class="pay__title pay__title--lk">Отправить<br>сообщение<br>администрации<br>сайта</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--paydoc"></i>
                        <div class="pay__title pay__title--lk">Единый<br>платежный<br>документ</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="pay">
                        <i class="icon icon--pays"></i>
                        <div class="pay__title pay__title--lk">Мои<br>банковские карты<br>и автоплатежи</div>
                        <div class="lk-more"><a href="#">Подробнее</a></div>
                    </div>

                </div>
            </div>       
           

        </div>
    </div>    
</div>
