<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a class="curr" href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Физическим лицам</h1>
            
            <div class="tab-menu">
                <div class="tab-menu__one active tab-menu__one--centr">Центры обслуживания<br>клиентов</div>
                <div class="tab-menu__one tab-menu__one--place">Места и способы<br>оплаты</div>
                <div class="tab-menu__one tab-menu__one--list">Список услуг, по которым<br>принимаются платежи</div>
            </div>

            <div class="tab-list">
                <div class="tab-one open">
                    Услуги, оказываемые в главном офисе центра обслуживания клиентов:
                    Электроэнергия

                    полная информация по расчётам
                    переоформление лицевого счёта
                    справка об отсутствии задолженности
                    покупка электросчётчика
                    подача заявлений на установку и проверку схемы включения электросчётчика

                    Режим работы
                    Пн
                    Пт
                    08:00 - 19:00
                    Без перерыва
                    Сб
                    10.00 – 15.00
                    Без перерыва
                    Вс
                    Выходной


                </div>

                <div class="tab-one">
                    <div class="tab-inn">
                        <h2>Места и способы дистанционной оплаты за электроэнергию</h2>

                        Оплата электроэнергии через Интернет 
                        Оцените удобство он-лайн оплаты, воспользуйтесь новой услугой в личном кабинете на сайте Томской энергосбытовой компании.
                        
                        Клиент банки
                        Оплачивайте электроэнергию с помощью вашего клиента банка Сбербанк, Газпромбанк, Альфабанк и других.
                        

                        <h2>Места и способы оплаты в пунктах приема платежей</h2>

                        Пункты приёма платежей ПАО «Томскэнергосбыт»

                        В кассе ближайшего Центра обслуживания клиентов ПАО «Томскэнергосбыт»
                        Оплачивайте электроэнергию, услуги ЖКХ, услуги связи и Интернет без комиссии* в кассах ближайшего Центра обслуживания клиентов ПАО «Томскэнергосбыт» в Томске и Томской области.
                        В ближайшем пункте приёма платежей – Мобильной кассе и терминале самообслуживания ПАО «Томскэнергосбыт».

                        Отделения Сбербанка России

                        Оплатить за электроэнергию в Сбербанке России можно через устройства самообслуживания – банкоматы, терминалы, либо через кассу. А так же можно подключить автоплатёж для автоматического списания денежных средств за электроэнергию.

                        Офисы банков

                        За осуществление платежа может взиматься комиссия, размер которой Вы можете узнать у ответственного сотрудника банка. 

                        Отделения почтовой связи - Почта России 

                        Оплатить за электроэнергию можно в отделениях почтовой связи - Почты России через операторов.

                        Пункты приёма платежей ПАО «Ростелеком» и ЗАО «Томсктелеком»

                        За осуществление платежа может взиматься комиссия, размер которой Вы можете узнать у сотрудников ПАО «Ростелеком» и ЗАО «Томсктелеком» перед приёмом платежей.
                    </div>



                </div>

                <div class="tab-one">
                    <div class="tab-inn">
                        <h2>Томскэнергосбыт принимает платежи за следующие виды услуг:</h2>
                        
                        <div class="pays">
                            <div class="pay">
                                <i class="icon icon--bulb"></i>
                                <div class="pay__title">Электроэнергия</div>
                                <div class="pay__descr">ПАО «Томскэнергосбыт»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--battery"></i>
                                <div class="pay__title">Отопление и горячая вода</div>
                                <div class="pay__descr">АО «ТомскРТС»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--gas"></i>
                                <div class="pay__title">Газ</div>
                                <div class="pay__descr">ООО «Газпром межрегионгаз Новосибирск» филиал в Томской области»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--home"></i>
                                <div class="pay__title">Жилищные услуги</div>
                                <div class="pay__descr">ЗАО «МКС-Томск», ООО «Жилсервис ТДСК»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--mobile"></i>
                                <div class="pay__title">Сотовая связь</div>
                                <div class="pay__descr">Мегафон, Теле2, Билайн, МТС</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--internet"></i>
                                <div class="pay__title">Интернет, кабельное ТВ</div>
                                <div class="pay__descr">ООО «Томтел», ООО «Флайнет», ООО «Новые Телесистемы – ТВ», Дом.ru, ЗАО «Неотелеком», Интернет Билайн</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--phone"></i>
                                <div class="pay__title">Телефон</div>
                                <div class="pay__descr">ПАО «Ростелеком»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--pay"></i>
                                <div class="pay__title">Штрафы</div>
                                <div class="pay__descr">Управление внутренних дел по Томской области, Штрафы ГИБДД</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--card"></i>
                                <div class="pay__title">Страховые платежи </div>
                                <div class="pay__descr">ПАО «Росгосстрах»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--pay"></i>
                                <div class="pay__title">Пополнение электронных кошельков</div>
                                <div class="pay__descr">Webmoney, Яндекс.Деньги, Visa, QIWI, Wallet</div>
                            </div>

                        </div>
                        <div class="pay-bottom">
                            Пластиковой картой Вы сможете оплачивать услуги во всех окнах обслуживания в офисе на ул. Котовского, 19.
                        </div>
                    </div>
                    
                </div>
            </div>



            
           

        </div>
    </div>    
</div>
