<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a class="curr" href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Физическим лицам</h1>
            
            <div class="tab-menu">
                <div class="tab-menu__one active tab-menu__one--centr">Центры обслуживания<br>клиентов</div>
                <div class="tab-menu__one tab-menu__one--place">Места и способы<br>оплаты</div>
                <div class="tab-menu__one tab-menu__one--list">Список услуг, по которым<br>принимаются платежи</div>
            </div>

            <div class="tab-list">
                <div class="tab-one open">
                    <div class="tab-inn">
                        <div class="centr-top">
                            <div class="centr-top__title">
                            Услуги, оказываемые в главном офисе центра обслуживания клиентов:
                            </div>
                            <div class="centr-contact">
                                    <div>
                                        <i class="icon--adress"></i>ул. Котовского, 19  <a href="#">посмотреть на карте</a> 
                                    </div>
                                    <div>
                                        <i class="icon--phone-sm"></i>+7 (3822) 48-47-87, 8 800 775-47-87
                                    </div>
                            </div>
                        </div>


                        <div class="centr-block">
                            <div class="centr-left">
                                <div class="centr-title">Электроэнергия</div>
                                <ul>
                                    <li>полная информация по расчётам</li>
                                    <li>переоформление лицевого счёта</li>
                                    <li>справка об отсутствии задолженности</li>
                                    <li>покупка электросчётчика</li>
                                    <li>подача заявлений на установку и проверку схемы включения электросчётчика</li>
                                </ul>
                                
                                <div class="centr-working">
                                    <table>
                                        <tr>
                                            <td rowspan="3"><div class="centr-working__title">Режим работы</div></td>
                                            <td class="workday">Пн<br>Пт</td>
                                            <td><span>08:00 - 19:00</span>Без перерыва</td>
                                        </tr>
                                        <tr>
                                            <td class="holiday">Сб</td>
                                            <td><span>10.00 – 15.00</span>Без перерыва</td>
                                        </tr>
                                        <tr>
                                            <td class="holiday">Вс</td>
                                            <td><span>Выходной</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="centr-right">
                                <div class="centr-title">Теплоэнергия и горячая вода</div>
                                <ul>
                                    <li>полная информация по расчётам</li>
                                    <li>переоформление лицевого счёта</li>
                                    <li>подача заявлений на перерасчёт по теплоэнергии и горячей воде</li>
                                </ul>
                                
                                <div class="centr-working">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><div class="centr-working__title">Режим работы</div><span>(окно №6)</span></td>
                                            <td class="workday">Пн<br>Пт</td>
                                            <td><span>08:00 - 19:00</span>Перерыв с 13:00 до 14:00 </td>
                                        </tr>
                                        <tr>
                                            <td class="holiday">Сб<br>Вс</td>
                                            <td><span>Выходной</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                        <div class="centrs">
                            <h2>Центры Обслуживания клиентов и мобильные кассы</h2>

                            <div class="centrs-filtr">
                                <div class="doc-filtr-one__title">
                                    Населенный пункт:
                                </div>
                                
                                <div class="select centrs-filtr__select">
                                   <input type="text" readonly>
                                   <div class="select-list" style="display: none;">
                                       <div class="select-list__one  select-default">г. Томск</div>
                                       <div class="select-list__one">г. Колпашево</div>
                                       <div class="select-list__one">п. Мыльджино</div>
                                       <div class="select-list__one">с. Чажемто</div>
                                       <div class="select-list__one">г. Стрежевой</div>
                                       <div class="select-list__one">с. Подгорное</div>
                                       <div class="select-list__one">г. Кедровый</div>
                                       <div class="select-list__one">с. Бакчар</div>
                                   </div>
                                </div>
                            </div>

                            <div class="centr-list-top">
                                <div class="centr-filtr">
                                    <div class="centr-filtr__title">
                                        <span>Фильтр</span>
                                    </div>
                                    <div class="centr-filtr-list" style="display: none;">
                                        <div class="centrs-filtr-col centr-type--hidden">
                                                <div class="centr-filtr-one">
                                                    <input type="checkbox" name="type1" id="type1">
                                                    <label for="type1"><i></i>Центры обслуживания</label>
                                                </div>
                                                <div class="centr-filtr-one">
                                                    <input type="checkbox" name="type2" id="type2">
                                                    <label for="type2"><i></i>Платежные терминалы</label>
                                                </div>
                                        </div>
                                        <div class="centrs-filtr-col">
                                            <div class="centr-filtr-one">
                                                <input type="checkbox" name="firtr1" id="firtr1">
                                                <label for="firtr1"><i></i>Консультации по расчетам</label>
                                            </div>
                                            <div class="centr-filtr-one">
                                                <input type="checkbox" name="firtr2" id="firtr2">
                                                <label for="firtr2"><i></i>Оплата услуг</label>
                                            </div>
                                            <div class="centr-filtr-one">
                                                <input type="checkbox" name="firtr3" id="firtr3">
                                                <label for="firtr3"><i></i>Покупка товаров</label>
                                            </div>
                                        </div>
                                        <div class="centrs-filtr-col">
                                            <div class="centr-filtr-one">
                                                <input type="checkbox" name="firtr4" id="firtr4">
                                                <label for="firtr4"><i></i>Работат в выходные</label>
                                            </div>
                                            <div class="centr-filtr-one">
                                                <input type="checkbox" name="firtr5" id="firtr5">
                                                <label for="firtr5"><i></i>Работает до 19:00 вечера</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="centr-type">
                                    <div class="centr-type-one">
                                        <input type="checkbox" name="type1_" id="type1">
                                        <label for="type1_"><i></i>Центры обслуживания</label>
                                    </div>
                                    <div class="centr-type-one">
                                        <input type="checkbox" name="type2_" id="type2">
                                        <label for="type2_"><i></i>Платежные терминалы</label>
                                    </div>
                                </div>

                                <div class="cenrt-select">
                                    <div class="cenrt-select__map active">
                                        <span>На карте</span>
                                    </div>
                                    <div class="cenrt-select__list">
                                        <span>Списком</span>
                                    </div>
                                </div>
                            </div>

                            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                            <script src="js/map.js" type="text/javascript"></script>

                            <div class="cenrt-map" id="cenrt-map">
                                <div class="centr-list-bottom">
                                    <div class="centr-list-bottom__centr"><span>Центры обслуживания</span></div>
                                    <div class="centr-list-bottom__terminal"><span>Платежные терминалы</span></div>
                                </div>
                            </div>
                            <div class="centr-list" style="display: none;">
                                <div class="centr-list-one">
                                    <div class="centr-list-col centr-list-col--top">
                                        <div class="centr-list__title">Центр обслуживания</div>
                                        <div class="centr-list__adress">Кировский р-он, ул. Котовского, 19
                                        <span>(главный офис)</span>
                                        </div>
                                        <div class="centr-list__phone">+7 (3822) 48-47-87, 8 800 775-47-87</div>
                                        
                                        
                                    </div>
                                    <div class="centr-list-col centr-list-col--hidden">
                                        <div class="centr-list-col">
                                            <div class="centr-list__title">Услуги</div>
                                            <div class="centr-list__services">
                                                <ul>
                                                    <li>
                                                        Консультации по расчётам
                                                        <ul>
                                                            <li>электроэнергия</li>
                                                            <li>отопление</li>
                                                            <li>водоснабжение</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Оплата услуг
                                                        <ul>
                                                            <li>электроэнергия</li>
                                                            <li>отопление</li>
                                                            <li>водоснабжение</li>
                                                        </ul>
                                                    </li>
                                                    <li>Покупка товаров</li>
                                                </ul> 
                                            </div>
                                        </div>
                                        <div class="centr-list-col centr-list-col--working">
                                            <div class="centr-list__title">Режим работы</div>
                                            <div class="centr-working">
                                                <table>
                                                    <tr>
                                                        <td class="workday">Пн<br>Пт</td>
                                                        <td><span>08:00 - 19:00</span>Без перерыва</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="holiday">Сб</td>
                                                        <td><span>10.00 – 15.00</span>Без перерыва</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="holiday">Вс</td>
                                                        <td><span>Выходной</span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="centr-list-show">Подробне</div>
                                </div>
                                <div class="centr-list-one">
                                    <div class="centr-list-col centr-list-col--top">
                                        <div class="centr-list__title">Центр обслуживания</div>
                                        <div class="centr-list__adress">Кировский р-он, ул. Котовского, 19
                                        <span>(главный офис)</span>
                                        </div>
                                        <div class="centr-list__phone">+7 (3822) 48-47-87, 8 800 775-47-87</div>
                                        
                                        
                                    </div>
                                    <div class="centr-list-col centr-list-col--hidden">
                                        <div class="centr-list-col">
                                            <div class="centr-list__title">Услуги</div>
                                            <div class="centr-list__services">
                                                <ul>
                                                    <li>
                                                        Консультации по расчётам
                                                        <ul>
                                                            <li>электроэнергия</li>
                                                            <li>отопление</li>
                                                            <li>водоснабжение</li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Оплата услуг
                                                        <ul>
                                                            <li>электроэнергия</li>
                                                            <li>отопление</li>
                                                            <li>водоснабжение</li>
                                                        </ul>
                                                    </li>
                                                    <li>Покупка товаров</li>
                                                </ul> 
                                            </div>
                                        </div>
                                        <div class="centr-list-col centr-list-col--working">
                                            <div class="centr-list__title">Режим работы</div>
                                            <div class="centr-working">
                                                <table>
                                                    <tr>
                                                        <td class="workday">Пн<br>Пт</td>
                                                        <td><span>08:00 - 19:00</span>Без перерыва</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="holiday">Сб</td>
                                                        <td><span>10.00 – 15.00</span>Без перерыва</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="holiday">Вс</td>
                                                        <td><span>Выходной</span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="centr-list-show">Подробне</div>
                                </div>
                            </div>

                            
                            

                        </div>

                </div>

                <div class="tab-one">
                    <div class="tab-inn">
                        <h2>Места и способы дистанционной оплаты за электроэнергию</h2>

                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-internet"></i>Оплата электроэнергии через Интернет</div>
                            <p>Оцените удобство он-лайн оплаты, воспользуйтесь новой услугой в личном кабинете на сайте Томской энергосбытовой компании.</p>
                        </div>
                        
                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-client"></i>Клиент банки</div>
                            <p>чивайте электроэнергию с помощью вашего клиента банка Сбербанк, Газпромбанк, Альфабанк и других.</p>
                        </div>
                        

                        <h2>Места и способы оплаты в пунктах приема платежей</h2>


                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-tes"></i>Пункты приёма платежей ПАО «Томскэнергосбыт»</div>
                            <p><b>В кассе ближайшего Центра обслуживания клиентов ПАО «Томскэнергосбыт»</b></p>
                            <p>Оплачивайте электроэнергию, услуги ЖКХ, услуги связи и Интернет без комиссии* в кассах ближайшего Центра обслуживания клиентов ПАО «Томскэнергосбыт» в Томске и Томской области.</p>
                            <p><b>В ближайшем пункте приёма платежей – Мобильной кассе и терминале самообслуживания ПАО «Томскэнергосбыт».</b></p>
                        </div>
                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-sber"></i>Отделения Сбербанка России</div>
                            <p>Оплатить за электроэнергию в Сбербанке России можно через устройства самообслуживания – банкоматы, терминалы, либо через кассу. А так же можно подключить автоплатёж для автоматического списания денежных средств за электроэнергию.</p>
                        </div>

                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-bank"></i>Офисы банков</div>
                            <p>За осуществление платежа может взиматься комиссия, размер которой Вы можете узнать у ответственного сотрудника банка. </p>
                        </div>
                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-post"></i>Отделения почтовой связи - Почта России </div>
                            <p>Оплатить за электроэнергию можно в отделениях почтовой связи - Почты России через операторов.</p>
                        </div>
                        
                        <div class="pay-variant">
                            <div class="pay-variant-title"><i class="icon icon--pay-bank"></i>Пункты приёма платежей ПАО «Ростелеком» и ЗАО «Томсктелеком»</div>
                            <p>За осуществление платежа может взиматься комиссия, размер которой Вы можете узнать у сотрудников ПАО «Ростелеком» и ЗАО «Томсктелеком» перед приёмом платежей.</p>
                        </div>

                    </div>



                </div>

                <div class="tab-one">
                    <div class="tab-inn">
                        <h2>Томскэнергосбыт принимает платежи за следующие виды услуг:</h2>
                        
                        <div class="pays">
                            <div class="pay">
                                <i class="icon icon--bulb"></i>
                                <div class="pay__title">Электроэнергия</div>
                                <div class="pay__descr">ПАО «Томскэнергосбыт»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--battery"></i>
                                <div class="pay__title">Отопление и горячая вода</div>
                                <div class="pay__descr">АО «ТомскРТС»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--gas"></i>
                                <div class="pay__title">Газ</div>
                                <div class="pay__descr">ООО «Газпром межрегионгаз Новосибирск» филиал в Томской области»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--home"></i>
                                <div class="pay__title">Жилищные услуги</div>
                                <div class="pay__descr">ЗАО «МКС-Томск», ООО «Жилсервис ТДСК»</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--mobile"></i>
                                <div class="pay__title">Сотовая связь</div>
                                <div class="pay__descr">Мегафон, Теле2, Билайн, МТС</div>
                            </div>
                            <div class="pay">
                                <i class="icon icon--internet"></i>
                                <div class="pay__title">Интернет, кабельное ТВ</div>
                                <div class="pay__descr">ООО «Томтел», ООО «Флайнет», ООО «Новые Телесистемы – ТВ», Дом.ru, ЗАО «Неотелеком», Интернет Билайн</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--phone"></i>
                                <div class="pay__title">Телефон</div>
                                <div class="pay__descr">ПАО «Ростелеком»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--pay"></i>
                                <div class="pay__title">Штрафы</div>
                                <div class="pay__descr">Управление внутренних дел по Томской области, Штрафы ГИБДД</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--card"></i>
                                <div class="pay__title">Страховые платежи </div>
                                <div class="pay__descr">ПАО «Росгосстрах»</div>
                            </div>

                            <div class="pay">
                                <i class="icon icon--pay"></i>
                                <div class="pay__title">Пополнение электронных кошельков</div>
                                <div class="pay__descr">Webmoney, Яндекс.Деньги, Visa, QIWI, Wallet</div>
                            </div>

                        </div>
                        <div class="pay-bottom">
                            Пластиковой картой Вы сможете оплачивать услуги во всех окнах обслуживания в офисе на ул. Котовского, 19.
                        </div>
                    </div>
                    
                </div>
            </div>



            
           

        </div>
    </div>    
</div>
