<div class="footer">
    <div class="wrap">
        <div class="footer-box">
            <div class="footer-left">
                <p>Copyright © 2010-2016 ПAO «Томскэнергосбыт»</p>
                <p>634034, г. Томск, ул. Котовского, 19</p>
                <p>ОГРН 10570001284     ИНН 7017114680</p>
            </div>
            <div class="footer-center">
                <p>Телефон: <span>+7 (3822) 48-47-87</span></p>
                <p>E-mail: <a href="#">secretar@ensb.tomsk.ru</a></p>
                <p><a href="#">http://ensb.tomsk.ru</a></p>
            </div>

            <div class="footer-right">
                <div class="footer-social">
                    <div class="footer-social__title">Мы в соцсетях:</div>
                    <a href="#" class="social social--fb"></a>
                    <a href="#" class="social social--vk"></a>
                </div>
                <div class="footer-right__bottom">
                    <a href="#">Написать письмо</a>
                    <a href="#">Карта сайта</a>
                </div>
            </div>
        </div>
    </div>
</div>