<div class="m-head">
    <a href="#m-menu" class="m-head-menu open-modal"></a>

    <a href="/" class="m-head-logo">
        <img src="img/logo.png" alt="">
    </a>

    <div class="m-head-right">
        <a href="#" class="m-head-searh"></a>
        <a href="#" class="m-head-lk"></a>

        <div class="lk-enter lk-enter--mobile">
            <div class="lk-enter__title">
                Личный кабинет
            </div>
                <div class="lk-enter-form">
                    <form action="" id="lk-enter">
                        <div class="lk-form-line">
                            <input type="text" name="login" placeholder="Ваш логин">
                        </div>
                        <div class="lk-form-line">
                            <input type="text" name="pass" placeholder="Введите пароль">
                        </div>
                        <div class="lk-form-line">
                            <div class="lk-form-col">
                                <input type="checkbox" name="remember" id="remember-m">
                                <label for="remember-m"><i></i>Сохранить</label>
                            </div>
                            <div class="lk-form-col">
                                <a href="#">Забыли пароль?</a>
                            </div>
                        </div>
                        <div class="lk-form-line">
                            <button type="submit">Войти в кабинет</button>
                        </div>
                    </form>
                    <a href="#" class="lk-form__reg">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <div class="lk-enter-overlay"></div>

    <div class="m-searh">
        <div class="icon icon--search"></div>
        <form action="" id="m-search">
            <input class="head-search__input" type="text" name="search">
            <button class="head-search__button">Искать</button>
        </form>
        <div class="m-searh-close"></div>
    </div>
</div>

<div class="head head--main">
    <div class="wrap">
        <div class="head-top">
            <a href="/" class="main-logo">
                <img src="img/logo.png" alt="">
            </a>
            <div class="head-top-mid">
                <div class="head-top__phone">
                    <a href="tel:+73822484787">+7 (3822) 48-47-87</a><a href="tel:88007754787"><span>8 800 775-47-87</span></a>
                </div>
                <div class="head-search">
                    <form action="" id="search">
                        <input class="head-search__input" type="text" name="search">
                        <button class="head-search__button">Искать</button>
                        <div class="head-search__example">
                            Например: <a href="#">передача показаний</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="head-lk">
                <a href="#" class="head-lk__enter">Личный кабинет</a>
                <a href="#" class="head-lk__reg">Регистрация</a>

                <div class="lk-enter">
                    <div class="lk-enter__title">
                        Личный кабинет
                    </div>
                    <div class="lk-enter-form">
                        <form action="" id="lk-enter">
                            <div class="lk-form-line">
                                <input type="text" name="login" placeholder="Ваш логин">
                            </div>
                            <div class="lk-form-line">
                                <input type="text" name="pass" placeholder="Введите пароль">
                            </div>
                            <div class="lk-form-line">
                                <div class="lk-form-col">
                                    <input type="checkbox" name="remember" id="remember">
                                    <label for="remember"><i></i>Сохранить</label>
                                </div>
                                <div class="lk-form-col">
                                    <a href="#">Забыли пароль?</a>
                                </div>
                            </div>
                            <div class="lk-form-line">
                                <button type="submit">Войти в кабинет</button>
                            </div>

                        </form>
                        <a href="#" class="lk-form__reg">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
            <div class="lk-enter-overlay"></div>
        </div>
        <div class="head-bottom clearfix">
                <a href="#" class="head-link">
                    <div class="head-link__img">
                        <img src="tmp/pic.jpg" alt="">
                    </div>
                    <div class="head-link__title">Физическим лицам</div>
                </a>
                <a href="#" class="head-link">
                    <div class="head-link__img">
                        <img src="tmp/pic4.jpg" alt="">
                    </div>
                    <div class="head-link__title">Юридическим лицам</div>
                </a>
                <a href="#" class="head-link">
                    <div class="head-link__img">
                        <img src="tmp/pic3.jpg" alt="">
                    </div>
                    <div class="head-link__title">закупки</div>
                </a>
                <a href="#" class="head-link">
                    <div class="head-link__img">
                        <img src="tmp/pic2.jpg" alt="">
                    </div>
                    <div class="head-link__title">Раскрытие информации</div>
                </a>
        </div>
    </div>
</div>
