<div id="overlay">
	<div class="modal--fz" id="m-menu">
		<div class="m-menu">
			<div class="m-menu-top">
				<div class="modal-close"></div>
				<div class="m-phone">
					<a href="#">+7 (3822) 48-47-87</a><a href="#"><span>8 800 775-47-87</span></a>
				</div>
				<div class="m-social">
					<a href="#" class="social social--fb"></a>
                    <a href="#" class="social social--vk"></a>
				</div>
				<a href="#" class="head-lk__enter head-lk__enter--m"><span>Личный кабинет</span></a>
			</div>
			<div class="m-menu-list">
				<ul>
					<li>
						<a href="#">О компании</a>
						<ul>
							<li><a href="#">Общая информация о деятельности компании</a></li>
							<li><a href="#">Управление компанией</a>
								<ul>
									<li><a href="#">генеральный директор</a></li>
									<li><a href="#">совет директоров</a></li>
									<li><a href="#">ревизионная комиссия</a></li>
								</ul>
							</li>
							<li><a href="#">География деятельности</a></li>
							<li><a href="#">Свидетельства и лицензии</a></li>
							<li><a href="#">Банковские реквизиты</a></li>
							<li><a href="#">Контакты (схема проезда)</a></li>
							<li><a href="#">Наши достижения</a></li>
						</ul>
					</li>
		            <li><a href="#">Физическим лицам</a></li>
		            <li><a href="#">Юридическим лицам</a></li>
		            <li><a href="#">Раскрытие информации акционерным обществом</a></li>
		            <li><a href="#">Пресс-центр</a></li>
		            <li><a href="#">Центр обслуживания клиентов</a></li>
		            <li><a href="#">Интернет-приёмная</a></li>
		            <li><a href="#">Интернет-магазин</a></li>
		            <li><a href="#">Закупки</a></li>
		            <li><a href="#">Законодательство</a></li>
		            <li><a href="#">Энергосбережение</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>