<div id="overlay">
	<div class="modal--fz" id="m-menu">
		<div class="m-menu">
			<div class="m-menu-top">
				<div class="modal-close"></div>
				<div class="m-phone">
					<a href="#">+7 (3822) 48-47-87</a><a href="#"><span>8 800 775-47-87</span></a>
				</div>
				<div class="m-social">
					<a href="#" class="social social--fb"></a>
                    <a href="#" class="social social--vk"></a>
				</div>
				<a href="#" class="head-lk__enter head-lk__enter--m"><span>Личный кабинет</span></a>
			</div>
			<div class="m-menu-list">
				<ul>
					<li>
						<a href="#">О компании</a>
						<ul>
							<li><a href="#">Общая информация о деятельности компании</a></li>
							<li><a href="#">Управление компанией</a>
								<ul>
									<li><a href="#">генеральный директор</a></li>
									<li><a href="#">совет директоров</a></li>
									<li><a href="#">ревизионная комиссия</a></li>
								</ul>
							</li>
							<li><a href="#">География деятельности</a></li>
							<li><a href="#">Свидетельства и лицензии</a></li>
							<li><a href="#">Банковские реквизиты</a></li>
							<li><a href="#">Контакты (схема проезда)</a></li>
							<li><a href="#">Наши достижения</a></li>
						</ul>
					</li>
		            <li><a href="#">Физическим лицам</a></li>
		            <li><a href="#">Юридическим лицам</a></li>
		            <li><a href="#">Раскрытие информации акционерным обществом</a></li>
		            <li><a href="#">Пресс-центр</a></li>
		            <li><a href="#">Центр обслуживания клиентов</a></li>
		            <li><a href="#">Интернет-приёмная</a></li>
		            <li><a href="#">Интернет-магазин</a></li>
		            <li><a href="#">Закупки</a></li>
		            <li><a href="#">Законодательство</a></li>
		            <li><a href="#">Энергосбережение</a></li>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/map-delivery.js" type="text/javascript"></script>

	<div class="modal--delivery" id="delivery">
		<div class="delivery-top">
			<div class="delivery-close modal-close"></div>
			<div class="delivery-title">Пункты выдачи - клиентские офисы ПАО "Томскэнергосбыт</div>
			<div class="delivery-select">
		        <input type="text" value="Томск">
			</div>
		</div>
		<div class="delivery-city" style="display: none;">
	        <div class="delivery-list-one" data-city="Томск">Томск <span>(2)</span></div>
			<div class="delivery-list-one" data-city="Асино">Асино <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Белый Яр">р.п. Белый Яр <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Зырянское">с. Зырянское <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Первомайское">с. Первомайское <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Тегульдет">с. Тегульдет <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Стрежевой">Стрежевой <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Колпашево">Колпашево <span>(2)</span></div>
			<div class="delivery-list-one" data-city="Мыльджино">п. Мыльджино <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Подгорное">с. Подгорное <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Парабель">с. Парабель <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Каргасок">с. Каргасок <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Чажемто">с. Чажемто <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Колпашево">г. Колпашево <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Асино">г. Асино <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Белый яр">п. Белый яр <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Зырянское">с. Зырянское <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Первомайское">с. Первомайское <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Тегульдет">с. Тегульдет <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Стрежевой">г. Стрежевой <span>(1)</span></div>
			<div class="delivery-list-one" data-city="Александровское">с. Александровское <span>(1)</span></div>
		</div>
		<div class="delivery-map"  id="map">

		</div>
	</div>
</div>