<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a class="" href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            <div class="shop-top">
                <h1 class="content-title">Корзина</h1>
            </div>
            
            <div class="cart-list">
                <table>
                    <tr class="cart-line">
                        <td class="cart-img">
                            <a href="#"><img src="tmp/goods-1.jpg" alt=""></a>
                        </td>
                        <td class="cart-title">
                            <a href="#" >Счетчик электроэнергии CE 101 R5 145 М6</a>
                        </td>
                        <td class="cart-line__price">
                            <div class="cart-line__price-inn"><span>782.00</span> руб.</div>
                            <div class="goods-quant goods-quant--cart">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                        </td>
                        <td class="cart-line__summ">
                            <span>782.00</span>&nbsp;руб.
                        </td>
                        <td class="cart-line-remove">
                            <div class="cart-line__remove"></div>
                        </td>
                    </tr>
                    <tr class="cart-line">
                        <td class="cart-img">
                            <a href="#"><img src="tmp/goods-1.jpg" alt=""></a>
                        </td>
                        <td class="cart-title">
                            <a href="#" >Счетчик электроэнергии CE 101 R5 145 М6</a>
                        </td>
                        <td class="cart-line__price">
                            <div class="cart-line__price-inn"><span>782.00</span> руб.</div>
                            <div class="goods-quant goods-quant--cart">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                        </td>
                        <td class="cart-line__summ">
                            <span>782.00</span>&nbsp;руб.
                        </td>
                        <td class="cart-line-remove">
                            <div class="cart-line__remove"></div>
                        </td>
                    </tr>
                    <tr class="cart-line">
                        <td class="cart-img">
                            <a href="#"><img src="tmp/goods-1.jpg" alt=""></a>
                        </td>
                        <td class="cart-title">
                            <a href="#" >Счетчик электроэнергии CE 101 R5 145 М6</a>
                        </td>
                        <td class="cart-line__price">
                            <div class="cart-line__price-inn"><span>782.00</span> руб.</div>
                            <div class="goods-quant goods-quant--cart">
                                <div class="goods-quant__minus"></div>
                                <input type="text" value="1">
                                <div class="goods-quant__plus"></div>
                            </div>
                        </td>
                        <td class="cart-line__summ">
                            <span>782.00</span>&nbsp;руб.
                        </td>
                        <td class="cart-line-remove">
                            <div class="cart-line__remove"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="cart-bottom clearfix">

                <div class="cart-total">
                    <div class="cart-total__title">Итого:</div>
                    <div class="cart-total__summ"><span>1 369.50</span> руб.</div>
                    <button class="cart-order">Оформить заказ</button>
                </div>
                
                <a href="#" class="cart-back">Продолжить покупки</a>
            </div>

          
                    


                



            
           

        </div>
    </div>    
</div>
