<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a class="" href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            <div class="shop-top">
                <h1 class="content-title">Корзина</h1>
            </div>
            
            <table class="cart-list">
                <tr class="cart-line">
                    <td>
                        <a href="#" class="cart-img"><img src="tmp/goods-1.jpg" alt=""></a>
                    </td>
                    <td>
                        <a href="#" class="cart-title">Счетчик электроэнергии CE 101 R5 145 М6</a>
                    </td>
                    <td>
                        <span>782.00</span> руб.
                    </td>
                    <td>
                        </div>
                            <div class="goods-quant">
                            <div class="goods-quant__minus"></div>
                            <input type="text" value="1">
                            <div class="goods-quant__plus"></div>
                        </div>
                    </td>
                    <td>
                        <span class="cart-line__summ">782.00</span> руб.
                    </td>
                    <td>
                        <div class="cart-line__remove"></div>
                    </td>

                </tr>
            </table>
          
                    


                



            
           

        </div>
    </div>    
</div>
