/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@barcode-name: 'barcode';
@barcode-x: 0px;
@barcode-y: 111px;
@barcode-offset-x: 0px;
@barcode-offset-y: -111px;
@barcode-width: 197px;
@barcode-height: 113px;
@barcode-total-width: 696px;
@barcode-total-height: 336px;
@barcode-image: '../img/sprite.png';
@barcode: 0px 111px 0px -111px 197px 113px 696px 336px '../img/sprite.png' 'barcode';
@battery-name: 'battery';
@battery-x: 475px;
@battery-y: 111px;
@battery-offset-x: -475px;
@battery-offset-y: -111px;
@battery-width: 90px;
@battery-height: 90px;
@battery-total-width: 696px;
@battery-total-height: 336px;
@battery-image: '../img/sprite.png';
@battery: 475px 111px -475px -111px 90px 90px 696px 336px '../img/sprite.png' 'battery';
@calendar-name: 'calendar';
@calendar-x: 180px;
@calendar-y: 226px;
@calendar-offset-x: -180px;
@calendar-offset-y: -226px;
@calendar-width: 32px;
@calendar-height: 32px;
@calendar-total-width: 696px;
@calendar-total-height: 336px;
@calendar-image: '../img/sprite.png';
@calendar: 180px 226px -180px -226px 32px 32px 696px 336px '../img/sprite.png' 'calendar';
@close-name: 'close';
@close-x: 146px;
@close-y: 226px;
@close-offset-x: -146px;
@close-offset-y: -226px;
@close-width: 32px;
@close-height: 32px;
@close-total-width: 696px;
@close-total-height: 336px;
@close-image: '../img/sprite.png';
@close: 146px 226px -146px -226px 32px 32px 696px 336px '../img/sprite.png' 'close';
@counter-name: 'counter';
@counter-x: 567px;
@counter-y: 111px;
@counter-offset-x: -567px;
@counter-offset-y: -111px;
@counter-width: 72px;
@counter-height: 84px;
@counter-total-width: 696px;
@counter-total-height: 336px;
@counter-image: '../img/sprite.png';
@counter: 567px 111px -567px -111px 72px 84px 696px 336px '../img/sprite.png' 'counter';
@fb-w-name: 'fb-w';
@fb-w-x: 74px;
@fb-w-y: 263px;
@fb-w-offset-x: -74px;
@fb-w-offset-y: -263px;
@fb-w-width: 19px;
@fb-w-height: 35px;
@fb-w-total-width: 696px;
@fb-w-total-height: 336px;
@fb-w-image: '../img/sprite.png';
@fb-w: 74px 263px -74px -263px 19px 35px 696px 336px '../img/sprite.png' 'fb-w';
@fb-name: 'fb';
@fb-x: 675px;
@fb-y: 111px;
@fb-offset-x: -675px;
@fb-offset-y: -111px;
@fb-width: 19px;
@fb-height: 35px;
@fb-total-width: 696px;
@fb-total-height: 336px;
@fb-image: '../img/sprite.png';
@fb: 675px 111px -675px -111px 19px 35px 696px 336px '../img/sprite.png' 'fb';
@icon-bulb-name: 'icon-bulb';
@icon-bulb-x: 199px;
@icon-bulb-y: 111px;
@icon-bulb-offset-x: -199px;
@icon-bulb-offset-y: -111px;
@icon-bulb-width: 90px;
@icon-bulb-height: 90px;
@icon-bulb-total-width: 696px;
@icon-bulb-total-height: 336px;
@icon-bulb-image: '../img/sprite.png';
@icon-bulb: 199px 111px -199px -111px 90px 90px 696px 336px '../img/sprite.png' 'icon-bulb';
@icon-order-name: 'icon-order';
@icon-order-x: 291px;
@icon-order-y: 111px;
@icon-order-offset-x: -291px;
@icon-order-offset-y: -111px;
@icon-order-width: 90px;
@icon-order-height: 90px;
@icon-order-total-width: 696px;
@icon-order-total-height: 336px;
@icon-order-image: '../img/sprite.png';
@icon-order: 291px 111px -291px -111px 90px 90px 696px 336px '../img/sprite.png' 'icon-order';
@icon-water-name: 'icon-water';
@icon-water-x: 383px;
@icon-water-y: 111px;
@icon-water-offset-x: -383px;
@icon-water-offset-y: -111px;
@icon-water-width: 90px;
@icon-water-height: 90px;
@icon-water-total-width: 696px;
@icon-water-total-height: 336px;
@icon-water-image: '../img/sprite.png';
@icon-water: 383px 111px -383px -111px 90px 90px 696px 336px '../img/sprite.png' 'icon-water';
@logo-name: 'logo';
@logo-x: 0px;
@logo-y: 0px;
@logo-offset-x: 0px;
@logo-offset-y: 0px;
@logo-width: 696px;
@logo-height: 109px;
@logo-total-width: 696px;
@logo-total-height: 336px;
@logo-image: '../img/sprite.png';
@logo: 0px 0px 0px 0px 696px 109px 696px 336px '../img/sprite.png' 'logo';
@m-menu-name: 'm-menu';
@m-menu-x: 641px;
@m-menu-y: 156px;
@m-menu-offset-x: -641px;
@m-menu-offset-y: -156px;
@m-menu-width: 40px;
@m-menu-height: 32px;
@m-menu-total-width: 696px;
@m-menu-total-height: 336px;
@m-menu-image: '../img/sprite.png';
@m-menu: 641px 156px -641px -156px 40px 32px 696px 336px '../img/sprite.png' 'm-menu';
@menu-close-name: 'menu-close';
@menu-close-x: 229px;
@menu-close-y: 203px;
@menu-close-offset-x: -229px;
@menu-close-offset-y: -203px;
@menu-close-width: 28px;
@menu-close-height: 16px;
@menu-close-total-width: 696px;
@menu-close-total-height: 336px;
@menu-close-image: '../img/sprite.png';
@menu-close: 229px 203px -229px -203px 28px 16px 696px 336px '../img/sprite.png' 'menu-close';
@menu-open-name: 'menu-open';
@menu-open-x: 199px;
@menu-open-y: 203px;
@menu-open-offset-x: -199px;
@menu-open-offset-y: -203px;
@menu-open-width: 28px;
@menu-open-height: 16px;
@menu-open-total-width: 696px;
@menu-open-total-height: 336px;
@menu-open-image: '../img/sprite.png';
@menu-open: 199px 203px -199px -203px 28px 16px 696px 336px '../img/sprite.png' 'menu-open';
@more-name: 'more';
@more-x: 214px;
@more-y: 226px;
@more-offset-x: -214px;
@more-offset-y: -226px;
@more-width: 26px;
@more-height: 27px;
@more-total-width: 696px;
@more-total-height: 336px;
@more-image: '../img/sprite.png';
@more: 214px 226px -214px -226px 26px 27px 696px 336px '../img/sprite.png' 'more';
@search-name: 'search';
@search-x: 74px;
@search-y: 226px;
@search-offset-x: -74px;
@search-offset-y: -226px;
@search-width: 35px;
@search-height: 35px;
@search-total-width: 696px;
@search-total-height: 336px;
@search-image: '../img/sprite.png';
@search: 74px 226px -74px -226px 35px 35px 696px 336px '../img/sprite.png' 'search';
@tag-name: 'tag';
@tag-x: 111px;
@tag-y: 226px;
@tag-offset-x: -111px;
@tag-offset-y: -226px;
@tag-width: 33px;
@tag-height: 32px;
@tag-total-width: 696px;
@tag-total-height: 336px;
@tag-image: '../img/sprite.png';
@tag: 111px 226px -111px -226px 33px 32px 696px 336px '../img/sprite.png' 'tag';
@user-top-name: 'user-top';
@user-top-x: 641px;
@user-top-y: 111px;
@user-top-offset-x: -641px;
@user-top-offset-y: -111px;
@user-top-width: 32px;
@user-top-height: 43px;
@user-top-total-width: 696px;
@user-top-total-height: 336px;
@user-top-image: '../img/sprite.png';
@user-top: 641px 111px -641px -111px 32px 43px 696px 336px '../img/sprite.png' 'user-top';
@user-name: 'user';
@user-x: 0px;
@user-y: 226px;
@user-offset-x: 0px;
@user-offset-y: -226px;
@user-width: 72px;
@user-height: 72px;
@user-total-width: 696px;
@user-total-height: 336px;
@user-image: '../img/sprite.png';
@user: 0px 226px 0px -226px 72px 72px 696px 336px '../img/sprite.png' 'user';
@vk-w-name: 'vk-w';
@vk-w-x: 31px;
@vk-w-y: 300px;
@vk-w-offset-x: -31px;
@vk-w-offset-y: -300px;
@vk-w-width: 29px;
@vk-w-height: 36px;
@vk-w-total-width: 696px;
@vk-w-total-height: 336px;
@vk-w-image: '../img/sprite.png';
@vk-w: 31px 300px -31px -300px 29px 36px 696px 336px '../img/sprite.png' 'vk-w';
@vk-name: 'vk';
@vk-x: 0px;
@vk-y: 300px;
@vk-offset-x: 0px;
@vk-offset-y: -300px;
@vk-width: 29px;
@vk-height: 36px;
@vk-total-width: 696px;
@vk-total-height: 336px;
@vk-image: '../img/sprite.png';
@vk: 0px 300px 0px -300px 29px 36px 696px 336px '../img/sprite.png' 'vk';
@spritesheet-width: 696px;
@spritesheet-height: 336px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @barcode @battery @calendar @close @counter @fb-w @fb @icon-bulb @icon-order @icon-water @logo @m-menu @menu-close @menu-open @more @search @tag @user-top @user @vk-w @vk;
@spritesheet: 696px 336px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
