/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@adress-name: 'adress';
@adress-x: 218px;
@adress-y: 597px;
@adress-offset-x: -218px;
@adress-offset-y: -597px;
@adress-width: 24px;
@adress-height: 35px;
@adress-total-width: 696px;
@adress-total-height: 640px;
@adress-image: '../img/sprite.png';
@adress: 218px 597px -218px -597px 24px 35px 696px 640px '../img/sprite.png' 'adress';
@arrow-name: 'arrow';
@arrow-x: 229px;
@arrow-y: 203px;
@arrow-offset-x: -229px;
@arrow-offset-y: -203px;
@arrow-width: 6px;
@arrow-height: 10px;
@arrow-total-width: 696px;
@arrow-total-height: 640px;
@arrow-image: '../img/sprite.png';
@arrow: 229px 203px -229px -203px 6px 10px 696px 640px '../img/sprite.png' 'arrow';
@barcode-name: 'barcode';
@barcode-x: 0px;
@barcode-y: 111px;
@barcode-offset-x: 0px;
@barcode-offset-y: -111px;
@barcode-width: 197px;
@barcode-height: 113px;
@barcode-total-width: 696px;
@barcode-total-height: 640px;
@barcode-image: '../img/sprite.png';
@barcode: 0px 111px 0px -111px 197px 113px 696px 640px '../img/sprite.png' 'barcode';
@battery-name: 'battery';
@battery-x: 475px;
@battery-y: 111px;
@battery-offset-x: -475px;
@battery-offset-y: -111px;
@battery-width: 90px;
@battery-height: 90px;
@battery-total-width: 696px;
@battery-total-height: 640px;
@battery-image: '../img/sprite.png';
@battery: 475px 111px -475px -111px 90px 90px 696px 640px '../img/sprite.png' 'battery';
@best-name: 'best';
@best-x: 654px;
@best-y: 111px;
@best-offset-x: -654px;
@best-offset-y: -111px;
@best-width: 40px;
@best-height: 64px;
@best-total-width: 696px;
@best-total-height: 640px;
@best-image: '../img/sprite.png';
@best: 654px 111px -654px -111px 40px 64px 696px 640px '../img/sprite.png' 'best';
@calendar-name: 'calendar';
@calendar-x: 285px;
@calendar-y: 473px;
@calendar-offset-x: -285px;
@calendar-offset-y: -473px;
@calendar-width: 32px;
@calendar-height: 32px;
@calendar-total-width: 696px;
@calendar-total-height: 640px;
@calendar-image: '../img/sprite.png';
@calendar: 285px 473px -285px -473px 32px 32px 696px 640px '../img/sprite.png' 'calendar';
@cart-name: 'cart';
@cart-x: 353px;
@cart-y: 473px;
@cart-offset-x: -353px;
@cart-offset-y: -473px;
@cart-width: 32px;
@cart-height: 28px;
@cart-total-width: 696px;
@cart-total-height: 640px;
@cart-image: '../img/sprite.png';
@cart: 353px 473px -353px -473px 32px 28px 696px 640px '../img/sprite.png' 'cart';
@check-name: 'check';
@check-x: 684px;
@check-y: 177px;
@check-offset-x: -684px;
@check-offset-y: -177px;
@check-width: 10px;
@check-height: 9px;
@check-total-width: 696px;
@check-total-height: 640px;
@check-image: '../img/sprite.png';
@check: 684px 177px -684px -177px 10px 9px 696px 640px '../img/sprite.png' 'check';
@close-name: 'close';
@close-x: 319px;
@close-y: 473px;
@close-offset-x: -319px;
@close-offset-y: -473px;
@close-width: 32px;
@close-height: 32px;
@close-total-width: 696px;
@close-total-height: 640px;
@close-image: '../img/sprite.png';
@close: 319px 473px -319px -473px 32px 32px 696px 640px '../img/sprite.png' 'close';
@complex-h-name: 'complex-h';
@complex-h-x: 568px;
@complex-h-y: 394px;
@complex-h-offset-x: -568px;
@complex-h-offset-y: -394px;
@complex-h-width: 36px;
@complex-h-height: 40px;
@complex-h-total-width: 696px;
@complex-h-total-height: 640px;
@complex-h-image: '../img/sprite.png';
@complex-h: 568px 394px -568px -394px 36px 40px 696px 640px '../img/sprite.png' 'complex-h';
@complex-name: 'complex';
@complex-x: 530px;
@complex-y: 394px;
@complex-offset-x: -530px;
@complex-offset-y: -394px;
@complex-width: 36px;
@complex-height: 40px;
@complex-total-width: 696px;
@complex-total-height: 640px;
@complex-image: '../img/sprite.png';
@complex: 530px 394px -530px -394px 36px 40px 696px 640px '../img/sprite.png' 'complex';
@counter-name: 'counter';
@counter-x: 0px;
@counter-y: 308px;
@counter-offset-x: 0px;
@counter-offset-y: -308px;
@counter-width: 72px;
@counter-height: 84px;
@counter-total-width: 696px;
@counter-total-height: 640px;
@counter-image: '../img/sprite.png';
@counter: 0px 308px 0px -308px 72px 84px 696px 640px '../img/sprite.png' 'counter';
@doc-name: 'doc';
@doc-x: 246px;
@doc-y: 394px;
@doc-offset-x: -246px;
@doc-offset-y: -394px;
@doc-width: 48px;
@doc-height: 60px;
@doc-total-width: 696px;
@doc-total-height: 640px;
@doc-image: '../img/sprite.png';
@doc: 246px 394px -246px -394px 48px 60px 696px 640px '../img/sprite.png' 'doc';
@fb-w-name: 'fb-w';
@fb-w-x: 244px;
@fb-w-y: 597px;
@fb-w-offset-x: -244px;
@fb-w-offset-y: -597px;
@fb-w-width: 19px;
@fb-w-height: 35px;
@fb-w-total-width: 696px;
@fb-w-total-height: 640px;
@fb-w-image: '../img/sprite.png';
@fb-w: 244px 597px -244px -597px 19px 35px 696px 640px '../img/sprite.png' 'fb-w';
@fb-name: 'fb';
@fb-x: 676px;
@fb-y: 308px;
@fb-offset-x: -676px;
@fb-offset-y: -308px;
@fb-width: 19px;
@fb-height: 35px;
@fb-total-width: 696px;
@fb-total-height: 640px;
@fb-image: '../img/sprite.png';
@fb: 676px 308px -676px -308px 19px 35px 696px 640px '../img/sprite.png' 'fb';
@filtr-name: 'filtr';
@filtr-x: 174px;
@filtr-y: 518px;
@filtr-offset-x: -174px;
@filtr-offset-y: -518px;
@filtr-width: 28px;
@filtr-height: 30px;
@filtr-total-width: 696px;
@filtr-total-height: 640px;
@filtr-image: '../img/sprite.png';
@filtr: 174px 518px -174px -518px 28px 30px 696px 640px '../img/sprite.png' 'filtr';
@icon-bulb-name: 'icon-bulb';
@icon-bulb-x: 383px;
@icon-bulb-y: 111px;
@icon-bulb-offset-x: -383px;
@icon-bulb-offset-y: -111px;
@icon-bulb-width: 90px;
@icon-bulb-height: 90px;
@icon-bulb-total-width: 696px;
@icon-bulb-total-height: 640px;
@icon-bulb-image: '../img/sprite.png';
@icon-bulb: 383px 111px -383px -111px 90px 90px 696px 640px '../img/sprite.png' 'icon-bulb';
@icon-gas-name: 'icon-gas';
@icon-gas-x: 0px;
@icon-gas-y: 555px;
@icon-gas-offset-x: 0px;
@icon-gas-offset-y: -555px;
@icon-gas-width: 58px;
@icon-gas-height: 85px;
@icon-gas-total-width: 696px;
@icon-gas-total-height: 640px;
@icon-gas-image: '../img/sprite.png';
@icon-gas: 0px 555px 0px -555px 58px 85px 696px 640px '../img/sprite.png' 'icon-gas';
@icon-internet-name: 'icon-internet';
@icon-internet-x: 567px;
@icon-internet-y: 111px;
@icon-internet-offset-x: -567px;
@icon-internet-offset-y: -111px;
@icon-internet-width: 85px;
@icon-internet-height: 85px;
@icon-internet-total-width: 696px;
@icon-internet-total-height: 640px;
@icon-internet-image: '../img/sprite.png';
@icon-internet: 567px 111px -567px -111px 85px 85px 696px 640px '../img/sprite.png' 'icon-internet';
@icon-list-a-name: 'icon-list-a';
@icon-list-a-x: 362px;
@icon-list-a-y: 308px;
@icon-list-a-offset-x: -362px;
@icon-list-a-offset-y: -308px;
@icon-list-a-width: 48px;
@icon-list-a-height: 44px;
@icon-list-a-total-width: 696px;
@icon-list-a-total-height: 640px;
@icon-list-a-image: '../img/sprite.png';
@icon-list-a: 362px 308px -362px -308px 48px 44px 696px 640px '../img/sprite.png' 'icon-list-a';
@icon-list-name: 'icon-list';
@icon-list-x: 312px;
@icon-list-y: 308px;
@icon-list-offset-x: -312px;
@icon-list-offset-y: -308px;
@icon-list-width: 48px;
@icon-list-height: 44px;
@icon-list-total-width: 696px;
@icon-list-total-height: 640px;
@icon-list-image: '../img/sprite.png';
@icon-list: 312px 308px -312px -308px 48px 44px 696px 640px '../img/sprite.png' 'icon-list';
@icon-medal-name: 'icon-medal';
@icon-medal-x: 60px;
@icon-medal-y: 555px;
@icon-medal-offset-x: -60px;
@icon-medal-offset-y: -555px;
@icon-medal-width: 31px;
@icon-medal-height: 40px;
@icon-medal-total-width: 696px;
@icon-medal-total-height: 640px;
@icon-medal-image: '../img/sprite.png';
@icon-medal: 60px 555px -60px -555px 31px 40px 696px 640px '../img/sprite.png' 'icon-medal';
@icon-mobile-name: 'icon-mobile';
@icon-mobile-x: 0px;
@icon-mobile-y: 473px;
@icon-mobile-offset-x: 0px;
@icon-mobile-offset-y: -473px;
@icon-mobile-width: 68px;
@icon-mobile-height: 80px;
@icon-mobile-total-width: 696px;
@icon-mobile-total-height: 640px;
@icon-mobile-image: '../img/sprite.png';
@icon-mobile: 0px 473px 0px -473px 68px 80px 696px 640px '../img/sprite.png' 'icon-mobile';
@icon-order-name: 'icon-order';
@icon-order-x: 291px;
@icon-order-y: 111px;
@icon-order-offset-x: -291px;
@icon-order-offset-y: -111px;
@icon-order-width: 90px;
@icon-order-height: 90px;
@icon-order-total-width: 696px;
@icon-order-total-height: 640px;
@icon-order-image: '../img/sprite.png';
@icon-order: 291px 111px -291px -111px 90px 90px 696px 640px '../img/sprite.png' 'icon-order';
@icon-pay-name: 'icon-pay';
@icon-pay-x: 0px;
@icon-pay-y: 226px;
@icon-pay-offset-x: 0px;
@icon-pay-offset-y: -226px;
@icon-pay-width: 80px;
@icon-pay-height: 80px;
@icon-pay-total-width: 696px;
@icon-pay-total-height: 640px;
@icon-pay-image: '../img/sprite.png';
@icon-pay: 0px 226px 0px -226px 80px 80px 696px 640px '../img/sprite.png' 'icon-pay';
@icon-phone-name: 'icon-phone';
@icon-phone-x: 246px;
@icon-phone-y: 226px;
@icon-phone-offset-x: -246px;
@icon-phone-offset-y: -226px;
@icon-phone-width: 78px;
@icon-phone-height: 78px;
@icon-phone-total-width: 696px;
@icon-phone-total-height: 640px;
@icon-phone-image: '../img/sprite.png';
@icon-phone: 246px 226px -246px -226px 78px 78px 696px 640px '../img/sprite.png' 'icon-phone';
@icon-water-name: 'icon-water';
@icon-water-x: 199px;
@icon-water-y: 111px;
@icon-water-offset-x: -199px;
@icon-water-offset-y: -111px;
@icon-water-width: 90px;
@icon-water-height: 90px;
@icon-water-total-width: 696px;
@icon-water-total-height: 640px;
@icon-water-image: '../img/sprite.png';
@icon-water: 199px 111px -199px -111px 90px 90px 696px 640px '../img/sprite.png' 'icon-water';
@logo-name: 'logo';
@logo-x: 0px;
@logo-y: 0px;
@logo-offset-x: 0px;
@logo-offset-y: 0px;
@logo-width: 696px;
@logo-height: 109px;
@logo-total-width: 696px;
@logo-total-height: 640px;
@logo-image: '../img/sprite.png';
@logo: 0px 0px 0px 0px 696px 109px 696px 640px '../img/sprite.png' 'logo';
@m-menu-name: 'm-menu';
@m-menu-x: 208px;
@m-menu-y: 473px;
@m-menu-offset-x: -208px;
@m-menu-offset-y: -473px;
@m-menu-width: 40px;
@m-menu-height: 32px;
@m-menu-total-width: 696px;
@m-menu-total-height: 640px;
@m-menu-image: '../img/sprite.png';
@m-menu: 208px 473px -208px -473px 40px 32px 696px 640px '../img/sprite.png' 'm-menu';
@map-centr-name: 'map-centr';
@map-centr-x: 92px;
@map-centr-y: 597px;
@map-centr-offset-x: -92px;
@map-centr-offset-y: -597px;
@map-centr-width: 30px;
@map-centr-height: 41px;
@map-centr-total-width: 696px;
@map-centr-total-height: 640px;
@map-centr-image: '../img/sprite.png';
@map-centr: 92px 597px -92px -597px 30px 41px 696px 640px '../img/sprite.png' 'map-centr';
@map-pay-name: 'map-pay';
@map-pay-x: 60px;
@map-pay-y: 597px;
@map-pay-offset-x: -60px;
@map-pay-offset-y: -597px;
@map-pay-width: 30px;
@map-pay-height: 41px;
@map-pay-total-width: 696px;
@map-pay-total-height: 640px;
@map-pay-image: '../img/sprite.png';
@map-pay: 60px 597px -60px -597px 30px 41px 696px 640px '../img/sprite.png' 'map-pay';
@map-place-a-name: 'map-place-a';
@map-place-a-x: 196px;
@map-place-a-y: 394px;
@map-place-a-offset-x: -196px;
@map-place-a-offset-y: -394px;
@map-place-a-width: 48px;
@map-place-a-height: 67px;
@map-place-a-total-width: 696px;
@map-place-a-total-height: 640px;
@map-place-a-image: '../img/sprite.png';
@map-place-a: 196px 394px -196px -394px 48px 67px 696px 640px '../img/sprite.png' 'map-place-a';
@map-place-name: 'map-place';
@map-place-x: 146px;
@map-place-y: 394px;
@map-place-offset-x: -146px;
@map-place-offset-y: -394px;
@map-place-width: 48px;
@map-place-height: 67px;
@map-place-total-width: 696px;
@map-place-total-height: 640px;
@map-place-image: '../img/sprite.png';
@map-place: 146px 394px -146px -394px 48px 67px 696px 640px '../img/sprite.png' 'map-place';
@menu-close-name: 'menu-close';
@menu-close-x: 199px;
@menu-close-y: 203px;
@menu-close-offset-x: -199px;
@menu-close-offset-y: -203px;
@menu-close-width: 28px;
@menu-close-height: 16px;
@menu-close-total-width: 696px;
@menu-close-total-height: 640px;
@menu-close-image: '../img/sprite.png';
@menu-close: 199px 203px -199px -203px 28px 16px 696px 640px '../img/sprite.png' 'menu-close';
@menu-open-name: 'menu-open';
@menu-open-x: 654px;
@menu-open-y: 177px;
@menu-open-offset-x: -654px;
@menu-open-offset-y: -177px;
@menu-open-width: 28px;
@menu-open-height: 16px;
@menu-open-total-width: 696px;
@menu-open-total-height: 640px;
@menu-open-image: '../img/sprite.png';
@menu-open: 654px 177px -654px -177px 28px 16px 696px 640px '../img/sprite.png' 'menu-open';
@more-name: 'more';
@more-x: 387px;
@more-y: 473px;
@more-offset-x: -387px;
@more-offset-y: -473px;
@more-width: 26px;
@more-height: 27px;
@more-total-width: 696px;
@more-total-height: 640px;
@more-image: '../img/sprite.png';
@more: 387px 473px -387px -473px 26px 27px 696px 640px '../img/sprite.png' 'more';
@new-name: 'new';
@new-x: 446px;
@new-y: 394px;
@new-offset-x: -446px;
@new-offset-y: -394px;
@new-width: 40px;
@new-height: 52px;
@new-total-width: 696px;
@new-total-height: 640px;
@new-image: '../img/sprite.png';
@new: 446px 394px -446px -394px 40px 52px 696px 640px '../img/sprite.png' 'new';
@pay-bank-name: 'pay-bank';
@pay-bank-x: 488px;
@pay-bank-y: 394px;
@pay-bank-offset-x: -488px;
@pay-bank-offset-y: -394px;
@pay-bank-width: 40px;
@pay-bank-height: 40px;
@pay-bank-total-width: 696px;
@pay-bank-total-height: 640px;
@pay-bank-image: '../img/sprite.png';
@pay-bank: 488px 394px -488px -394px 40px 40px 696px 640px '../img/sprite.png' 'pay-bank';
@pay-cash-name: 'pay-cash';
@pay-cash-x: 634px;
@pay-cash-y: 308px;
@pay-cash-offset-x: -634px;
@pay-cash-offset-y: -308px;
@pay-cash-width: 40px;
@pay-cash-height: 40px;
@pay-cash-total-width: 696px;
@pay-cash-total-height: 640px;
@pay-cash-image: '../img/sprite.png';
@pay-cash: 634px 308px -634px -308px 40px 40px 696px 640px '../img/sprite.png' 'pay-cash';
@pay-client-name: 'pay-client';
@pay-client-x: 124px;
@pay-client-y: 597px;
@pay-client-offset-x: -124px;
@pay-client-offset-y: -597px;
@pay-client-width: 30px;
@pay-client-height: 40px;
@pay-client-total-width: 696px;
@pay-client-total-height: 640px;
@pay-client-image: '../img/sprite.png';
@pay-client: 124px 597px -124px -597px 30px 40px 696px 640px '../img/sprite.png' 'pay-client';
@pay-internet-name: 'pay-internet';
@pay-internet-x: 591px;
@pay-internet-y: 308px;
@pay-internet-offset-x: -591px;
@pay-internet-offset-y: -308px;
@pay-internet-width: 41px;
@pay-internet-height: 41px;
@pay-internet-total-width: 696px;
@pay-internet-total-height: 640px;
@pay-internet-image: '../img/sprite.png';
@pay-internet: 591px 308px -591px -308px 41px 41px 696px 640px '../img/sprite.png' 'pay-internet';
@pay-post-name: 'pay-post';
@pay-post-x: 459px;
@pay-post-y: 308px;
@pay-post-offset-x: -459px;
@pay-post-offset-y: -308px;
@pay-post-width: 42px;
@pay-post-height: 42px;
@pay-post-total-width: 696px;
@pay-post-total-height: 640px;
@pay-post-image: '../img/sprite.png';
@pay-post: 459px 308px -459px -308px 42px 42px 696px 640px '../img/sprite.png' 'pay-post';
@pay-sber-name: 'pay-sber';
@pay-sber-x: 412px;
@pay-sber-y: 308px;
@pay-sber-offset-x: -412px;
@pay-sber-offset-y: -308px;
@pay-sber-width: 45px;
@pay-sber-height: 42px;
@pay-sber-total-width: 696px;
@pay-sber-total-height: 640px;
@pay-sber-image: '../img/sprite.png';
@pay-sber: 412px 308px -412px -308px 45px 42px 696px 640px '../img/sprite.png' 'pay-sber';
@pay-tes-name: 'pay-tes';
@pay-tes-x: 547px;
@pay-tes-y: 308px;
@pay-tes-offset-x: -547px;
@pay-tes-offset-y: -308px;
@pay-tes-width: 42px;
@pay-tes-height: 41px;
@pay-tes-total-width: 696px;
@pay-tes-total-height: 640px;
@pay-tes-image: '../img/sprite.png';
@pay-tes: 547px 308px -547px -308px 42px 41px 696px 640px '../img/sprite.png' 'pay-tes';
@pdf-name: 'pdf';
@pdf-x: 396px;
@pdf-y: 394px;
@pdf-offset-x: -396px;
@pdf-offset-y: -394px;
@pdf-width: 48px;
@pdf-height: 60px;
@pdf-total-width: 696px;
@pdf-total-height: 640px;
@pdf-image: '../img/sprite.png';
@pdf: 396px 394px -396px -394px 48px 60px 696px 640px '../img/sprite.png' 'pdf';
@phone-name: 'phone';
@phone-x: 130px;
@phone-y: 555px;
@phone-offset-x: -130px;
@phone-offset-y: -555px;
@phone-width: 34px;
@phone-height: 34px;
@phone-total-width: 696px;
@phone-total-height: 640px;
@phone-image: '../img/sprite.png';
@phone: 130px 555px -130px -555px 34px 34px 696px 640px '../img/sprite.png' 'phone';
@rar-name: 'rar';
@rar-x: 346px;
@rar-y: 394px;
@rar-offset-x: -346px;
@rar-offset-y: -394px;
@rar-width: 48px;
@rar-height: 60px;
@rar-total-width: 696px;
@rar-total-height: 640px;
@rar-image: '../img/sprite.png';
@rar: 346px 394px -346px -394px 48px 60px 696px 640px '../img/sprite.png' 'rar';
@remove-name: 'remove';
@remove-x: 503px;
@remove-y: 308px;
@remove-offset-x: -503px;
@remove-offset-y: -308px;
@remove-width: 42px;
@remove-height: 41px;
@remove-total-width: 696px;
@remove-total-height: 640px;
@remove-image: '../img/sprite.png';
@remove: 503px 308px -503px -308px 42px 41px 696px 640px '../img/sprite.png' 'remove';
@sale-name: 'sale';
@sale-x: 648px;
@sale-y: 226px;
@sale-offset-x: -648px;
@sale-offset-y: -226px;
@sale-width: 40px;
@sale-height: 54px;
@sale-total-width: 696px;
@sale-total-height: 640px;
@sale-image: '../img/sprite.png';
@sale: 648px 226px -648px -226px 40px 54px 696px 640px '../img/sprite.png' 'sale';
@search-name: 'search';
@search-x: 93px;
@search-y: 555px;
@search-offset-x: -93px;
@search-offset-y: -555px;
@search-width: 35px;
@search-height: 35px;
@search-total-width: 696px;
@search-total-height: 640px;
@search-image: '../img/sprite.png';
@search: 93px 555px -93px -555px 35px 35px 696px 640px '../img/sprite.png' 'search';
@services-h-name: 'services-h';
@services-h-x: 644px;
@services-h-y: 394px;
@services-h-offset-x: -644px;
@services-h-offset-y: -394px;
@services-h-width: 36px;
@services-h-height: 39px;
@services-h-total-width: 696px;
@services-h-total-height: 640px;
@services-h-image: '../img/sprite.png';
@services-h: 644px 394px -644px -394px 36px 39px 696px 640px '../img/sprite.png' 'services-h';
@services-name: 'services';
@services-x: 606px;
@services-y: 394px;
@services-offset-x: -606px;
@services-offset-y: -394px;
@services-width: 36px;
@services-height: 39px;
@services-total-width: 696px;
@services-total-height: 640px;
@services-image: '../img/sprite.png';
@services: 606px 394px -606px -394px 36px 39px 696px 640px '../img/sprite.png' 'services';
@tab-bulb-h-name: 'tab-bulb-h';
@tab-bulb-h-x: 70px;
@tab-bulb-h-y: 473px;
@tab-bulb-h-offset-x: -70px;
@tab-bulb-h-offset-y: -473px;
@tab-bulb-h-width: 50px;
@tab-bulb-h-height: 78px;
@tab-bulb-h-total-width: 696px;
@tab-bulb-h-total-height: 640px;
@tab-bulb-h-image: '../img/sprite.png';
@tab-bulb-h: 70px 473px -70px -473px 50px 78px 696px 640px '../img/sprite.png' 'tab-bulb-h';
@tab-bulb-name: 'tab-bulb';
@tab-bulb-x: 122px;
@tab-bulb-y: 473px;
@tab-bulb-offset-x: -122px;
@tab-bulb-offset-y: -473px;
@tab-bulb-width: 50px;
@tab-bulb-height: 78px;
@tab-bulb-total-width: 696px;
@tab-bulb-total-height: 640px;
@tab-bulb-image: '../img/sprite.png';
@tab-bulb: 122px 473px -122px -473px 50px 78px 696px 640px '../img/sprite.png' 'tab-bulb';
@tab-centr-h-name: 'tab-centr-h';
@tab-centr-h-x: 74px;
@tab-centr-h-y: 308px;
@tab-centr-h-offset-x: -74px;
@tab-centr-h-offset-y: -308px;
@tab-centr-h-width: 74px;
@tab-centr-h-height: 76px;
@tab-centr-h-total-width: 696px;
@tab-centr-h-total-height: 640px;
@tab-centr-h-image: '../img/sprite.png';
@tab-centr-h: 74px 308px -74px -308px 74px 76px 696px 640px '../img/sprite.png' 'tab-centr-h';
@tab-centr-name: 'tab-centr';
@tab-centr-x: 150px;
@tab-centr-y: 308px;
@tab-centr-offset-x: -150px;
@tab-centr-offset-y: -308px;
@tab-centr-width: 74px;
@tab-centr-height: 76px;
@tab-centr-total-width: 696px;
@tab-centr-total-height: 640px;
@tab-centr-image: '../img/sprite.png';
@tab-centr: 150px 308px -150px -308px 74px 76px 696px 640px '../img/sprite.png' 'tab-centr';
@tab-home-h-name: 'tab-home-h';
@tab-home-h-x: 407px;
@tab-home-h-y: 226px;
@tab-home-h-offset-x: -407px;
@tab-home-h-offset-y: -226px;
@tab-home-h-width: 79px;
@tab-home-h-height: 73px;
@tab-home-h-total-width: 696px;
@tab-home-h-total-height: 640px;
@tab-home-h-image: '../img/sprite.png';
@tab-home-h: 407px 226px -407px -226px 79px 73px 696px 640px '../img/sprite.png' 'tab-home-h';
@tab-home-name: 'tab-home';
@tab-home-x: 326px;
@tab-home-y: 226px;
@tab-home-offset-x: -326px;
@tab-home-offset-y: -226px;
@tab-home-width: 79px;
@tab-home-height: 73px;
@tab-home-total-width: 696px;
@tab-home-total-height: 640px;
@tab-home-image: '../img/sprite.png';
@tab-home: 326px 226px -326px -226px 79px 73px 696px 640px '../img/sprite.png' 'tab-home';
@tab-list-h-name: 'tab-list-h';
@tab-list-h-x: 164px;
@tab-list-h-y: 226px;
@tab-list-h-offset-x: -164px;
@tab-list-h-offset-y: -226px;
@tab-list-h-width: 80px;
@tab-list-h-height: 80px;
@tab-list-h-total-width: 696px;
@tab-list-h-total-height: 640px;
@tab-list-h-image: '../img/sprite.png';
@tab-list-h: 164px 226px -164px -226px 80px 80px 696px 640px '../img/sprite.png' 'tab-list-h';
@tab-list-name: 'tab-list';
@tab-list-x: 82px;
@tab-list-y: 226px;
@tab-list-offset-x: -82px;
@tab-list-offset-y: -226px;
@tab-list-width: 80px;
@tab-list-height: 80px;
@tab-list-total-width: 696px;
@tab-list-total-height: 640px;
@tab-list-image: '../img/sprite.png';
@tab-list: 82px 226px -82px -226px 80px 80px 696px 640px '../img/sprite.png' 'tab-list';
@tab-money-h-name: 'tab-money-h';
@tab-money-h-x: 0px;
@tab-money-h-y: 394px;
@tab-money-h-offset-x: 0px;
@tab-money-h-offset-y: -394px;
@tab-money-h-width: 71px;
@tab-money-h-height: 77px;
@tab-money-h-total-width: 696px;
@tab-money-h-total-height: 640px;
@tab-money-h-image: '../img/sprite.png';
@tab-money-h: 0px 394px 0px -394px 71px 77px 696px 640px '../img/sprite.png' 'tab-money-h';
@tab-money-name: 'tab-money';
@tab-money-x: 73px;
@tab-money-y: 394px;
@tab-money-offset-x: -73px;
@tab-money-offset-y: -394px;
@tab-money-width: 71px;
@tab-money-height: 77px;
@tab-money-total-width: 696px;
@tab-money-total-height: 640px;
@tab-money-image: '../img/sprite.png';
@tab-money: 73px 394px -73px -394px 71px 77px 696px 640px '../img/sprite.png' 'tab-money';
@tab-place-h-name: 'tab-place-h';
@tab-place-h-x: 226px;
@tab-place-h-y: 308px;
@tab-place-h-offset-x: -226px;
@tab-place-h-offset-y: -308px;
@tab-place-h-width: 84px;
@tab-place-h-height: 56px;
@tab-place-h-total-width: 696px;
@tab-place-h-total-height: 640px;
@tab-place-h-image: '../img/sprite.png';
@tab-place-h: 226px 308px -226px -308px 84px 56px 696px 640px '../img/sprite.png' 'tab-place-h';
@tab-place-name: 'tab-place';
@tab-place-x: 562px;
@tab-place-y: 226px;
@tab-place-offset-x: -562px;
@tab-place-offset-y: -226px;
@tab-place-width: 84px;
@tab-place-height: 56px;
@tab-place-total-width: 696px;
@tab-place-total-height: 640px;
@tab-place-image: '../img/sprite.png';
@tab-place: 562px 226px -562px -226px 84px 56px 696px 640px '../img/sprite.png' 'tab-place';
@tag-name: 'tag';
@tag-x: 250px;
@tag-y: 473px;
@tag-offset-x: -250px;
@tag-offset-y: -473px;
@tag-width: 33px;
@tag-height: 32px;
@tag-total-width: 696px;
@tag-total-height: 640px;
@tag-image: '../img/sprite.png';
@tag: 250px 473px -250px -473px 33px 32px 696px 640px '../img/sprite.png' 'tag';
@user-top-name: 'user-top';
@user-top-x: 174px;
@user-top-y: 473px;
@user-top-offset-x: -174px;
@user-top-offset-y: -473px;
@user-top-width: 32px;
@user-top-height: 43px;
@user-top-total-width: 696px;
@user-top-total-height: 640px;
@user-top-image: '../img/sprite.png';
@user-top: 174px 473px -174px -473px 32px 43px 696px 640px '../img/sprite.png' 'user-top';
@user-name: 'user';
@user-x: 488px;
@user-y: 226px;
@user-offset-x: -488px;
@user-offset-y: -226px;
@user-width: 72px;
@user-height: 72px;
@user-total-width: 696px;
@user-total-height: 640px;
@user-image: '../img/sprite.png';
@user: 488px 226px -488px -226px 72px 72px 696px 640px '../img/sprite.png' 'user';
@vk-w-name: 'vk-w';
@vk-w-x: 187px;
@vk-w-y: 597px;
@vk-w-offset-x: -187px;
@vk-w-offset-y: -597px;
@vk-w-width: 29px;
@vk-w-height: 36px;
@vk-w-total-width: 696px;
@vk-w-total-height: 640px;
@vk-w-image: '../img/sprite.png';
@vk-w: 187px 597px -187px -597px 29px 36px 696px 640px '../img/sprite.png' 'vk-w';
@vk-name: 'vk';
@vk-x: 156px;
@vk-y: 597px;
@vk-offset-x: -156px;
@vk-offset-y: -597px;
@vk-width: 29px;
@vk-height: 36px;
@vk-total-width: 696px;
@vk-total-height: 640px;
@vk-image: '../img/sprite.png';
@vk: 156px 597px -156px -597px 29px 36px 696px 640px '../img/sprite.png' 'vk';
@xls-name: 'xls';
@xls-x: 296px;
@xls-y: 394px;
@xls-offset-x: -296px;
@xls-offset-y: -394px;
@xls-width: 48px;
@xls-height: 60px;
@xls-total-width: 696px;
@xls-total-height: 640px;
@xls-image: '../img/sprite.png';
@xls: 296px 394px -296px -394px 48px 60px 696px 640px '../img/sprite.png' 'xls';
@spritesheet-width: 696px;
@spritesheet-height: 640px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @adress @arrow @barcode @battery @best @calendar @cart @check @close @complex-h @complex @counter @doc @fb-w @fb @filtr @icon-bulb @icon-gas @icon-internet @icon-list-a @icon-list @icon-medal @icon-mobile @icon-order @icon-pay @icon-phone @icon-water @logo @m-menu @map-centr @map-pay @map-place-a @map-place @menu-close @menu-open @more @new @pay-bank @pay-cash @pay-client @pay-internet @pay-post @pay-sber @pay-tes @pdf @phone @rar @remove @sale @search @services-h @services @tab-bulb-h @tab-bulb @tab-centr-h @tab-centr @tab-home-h @tab-home @tab-list-h @tab-list @tab-money-h @tab-money @tab-place-h @tab-place @tag @user-top @user @vk-w @vk @xls;
@spritesheet: 696px 640px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
