@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 1280px) {
    .head-top__phone {
        display: block;
        width: auto;
        margin-bottom: 10px;
        a {
            display: inline-block;
        }
    }

    .head-search {
        display: block;
    }

    

    .main-link-box {
        display: block;
    }

    .main-link-one {
        width: 49%;
        margin: 0;
    }



    .main-news-one {
        width: 48%;
        margin-right: 4%;
        &:nth-child(2) {
            margin-right: 0;
        }
        &:nth-child(3) {
            display: none;
        } 
    }

    .main-top {
        padding: 40px 30px 0;
        height: 245px;
    }

    .main-top__top {
        font-size: 38px;
    }

    .main-top__bottom {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .main-top__more {
        padding: 10px 0;
        font-size: 18px;
    }

    .lk-enter {
        top: 50px;
        margin-left: -200px;
    }

    .sert-one {
        width: 33.33%;
    }

    .news-one {
        width: 48%;
        margin-right: 4%;
        &:nth-child(3n) {
            margin-right: 4%;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    .news-content {
        margin-left: 0;
    }

    .news-one-text img {
        margin: 0 20px 20px 0;
    }

    .doc-list {
        padding: 20px 0 0;
    }

    .tab-inn {
        padding-left: 0;
    }

    .centr-type {
        margin-right: 150px;
    }

    .cenrt-select__map {
        text-align: center;
        width: 70px;
        span {
            display: none;
        }
    }

    .cenrt-select__list {
        text-align: center;
        width: 70px;
        span {
            display: none;
        }
    }

    .centr-filtr-list {
        display: table;
    }

    .centrs-filtr-col {
        display: table-cell;
        padding: 20px 0;
        &:nth-child(2) {
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 30px;
                right: 0;
                width: 1px;
                height: 75px;
                margin-right: 20px;
                background:#cddcee;
            }
        }
    }

    .centr-filtr-one {
        padding: 10px 0;
    }

    .centr-type--hidden {
        display: none;
    }

    .pay {
        width: 31%;
        margin-right: 3%;

        &:nth-child(4n) {
            margin-right: 3%;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

}