<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                    
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a></li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a class="curr" href="#">Закупки</a>
                    <ul>
                        <li><a href="#"  class="curr">Информация о текущих открытых закупках ПАО "Томскэнергосбыт"</a></li>
                        <li><a href="#">Стандарт, регулирующий деятельность ПАО "Томскэнергосбыт" в области закупок товаров работ и услуг</a></li>
                        <li><a href="#">Отчеты о заключенных договорах ПАО "Томскэнергосбыт"</a></li>
                        <li><a href="#">Комплексные программы закупок ПАО "Томскэнергосбыт"</a></li>
                        <li><a href="#">Взаимодействие с субъектами малого и среднего предпринимательства</a></li>
                        <li><a href="#">Архив</a></li>
                    </ul>
                </li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Информация о текущих открытых закупках ПАО «Томскэнергосбыт»</h1>
            <div class="news-filtr">
                <form action="" id="news-date">
                    <div class="news-filtr__title">За период времени:</div>
                    <div class="news-filtr-date">
                        <input class="datepicker" type="text" name="date-in">
                    </div>
                    <div class="news-filtr-date">
                        <input class="datepicker" type="text" name="date-out">
                    </div>
                    <button class="btn-submit" type="submit">Показать</button>
                </form>
                <a href="#" class="zacup-archiv">Архив закупок</a>
            </div>

            <div class="zacup-list">
                <table>
                    <col width="25%" valign="top">
                    <col width="75%" valign="top">
                    <tr>
                        <th>Дата публикации</th>
                        <th>Название</th>
                    </tr>
                    <tr class="zacup-one">
                        <td>
                            <div class="doc-date">12.02.2017</div>
                        </td>
                        <td>
                           <a href="#" class="doc doc--pdf">Уведомление о проведении открытого запроса предложений, участниками которого являются только субъекты малого и среднего предпринимательства, на право заключения договора на техническое обслуживание кондиционеров для нужд ПАО «Томскэнергосбыт»</a>

                           <a class="zacup-docs-list" href="#">Документы</a>
                        </td>
                    </tr>
                    <tr class="zacup-docs">
                        <td colspan="2">
                            <table >
                            <col width="15%" valign="top">
                            <col width="85%" valign="top">
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="zacup-one">
                        <td>
                            <div class="doc-date">12.02.2017</div>
                        </td>
                        <td>
                           <a href="#" class="doc doc--pdf">Уведомление о проведении открытого запроса предложений, участниками которого являются только субъекты малого и среднего предпринимательства, на право заключения договора на техническое обслуживание кондиционеров для нужд ПАО «Томскэнергосбыт»</a>

                           <a class="zacup-docs-list" href="#">Документы</a>
                        </td>
                    </tr>
                    <tr class="zacup-docs">
                        <td colspan="2">
                            <table >
                            <col width="15%" valign="top">
                            <col width="85%" valign="top">
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="zacup-date">12.02.2017</div>
                                </td>
                                <td>
                                    <a href="#" class="doc doc--pdf">Уведомление о продлении срока подачи предложений</a>
                                </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>
                
            </div>

        </div>
    </div>    
</div>
