<div class="wrap">
    <div class="center clearfix">
        <div class="menu">
            <a href="#">О компании</a>
            <a href="#">Физическим лицам</a>
            <a href="#">Юридическим лицам</a>
            <a href="#">Раскрытие информации акционерным обществом</a>
            <a href="#">Пресс-центр</a>
            <a href="#">Центр обслуживания клиентов</a>
            <a href="#">Интернет-приёмная</a>
            <a href="#">Интернет-магазин</a>
            <a href="#">Закупки</a>
            <a href="#">Законодательство</a>
            <a href="#">Энергосбережение</a>
        </div>

        
        <div class="main-top">
            <div class="main-top__top">автоплатёж</div>
            <div class="main-top__bottom">Автоматическая оплата электроэнергии с банковской карты</div>
            <a href="#" class="main-top__more">Подробнее</a>
        </div>
        <div class="main-link">
            <div class="main-link-box">
                <a href="#" class="main-link-one main-link-one--bulb"><span>Оплата электроэнергии через интернет</span></a>
                <a href="#" class="main-link-one main-link-one--battery"><span>Оплата отопления и ГВС через интернет</span></a>
            </div>
            <div class="main-link-box">
                <a href="#" class="main-link-one main-link-one--water"><span>Оплата водоснабжения через интернет</span></a>
                <a href="#" class="main-link-one main-link-one--order"><span>Заявка на установку прибора учёта</span></a>
            </div>
        </div>

        <div class="right">

            <div class="right-panel right-panel--lk">
                <div class="right-panel__title right-panel__title--lk"><span>Личный кабинет</span></div>
                <form action="" id="lk">
                    <div class="flex-box">
                        <div class="form-line">
                            <input type="text" placeholder="Логин">
                        </div>
                        <div class="form-line">
                            <input type="text" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="flex-box">
                        <div class="flex-elem">
                            <a href="#">Восстановить пароль</a>
                            <a href="#">Регистрация</a>
                        </div>
                        <div class="form-cols flex-elem">
                            <div class="form-col2">
                                <input type="checkbox" id="remember" name="remember">
                                <label for="remember">Запомнить</label>
                            </div>
                            <div class="form-col2 enter-box">
                                <button type="submit" class="enter">Войти</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>

            <div class="right-panel-box">
                <div class="right-panel">
                    <div class="right-panel__title right-panel__title--el"><span>Быстрая оплата электроэнергии через интернет</span></div>
                    <form action="" id="el">
                        <div class="form-line">
                            <input type="text" placeholder="Штрих-код">
                        </div>
                        <div class="form-cols">
                            <div class="form-col2">
                                <img  class="barcode-img" src="img/barcode.png" alt="">
                                <i class="icon icon--barcode"></i>
                            </div>
                            <div class="form-col2">
                                <button type="submit">Оплатить</button>
                                <a href="#">Инструкция</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="right-panel">
                    <div class="right-panel__title right-panel__title--count"><span>Передача показаний прибора учёта через интернет</span></div>
                    <form action="" id="el">
                        <div class="form-line">
                            <input type="text" placeholder="Штрих-код">
                        </div>
                        <div class="form-cols">
                            <div class="form-col2">
                                <img  class="barcode-img" src="img/barcode.png" alt="">
                                <i class="icon icon--barcode"></i>
                            </div>
                            <div class="form-col2">
                                <button type="submit">Оплатить</button>
                                <a href="#">Инструкция</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="main-news">
            <a class="main-news-link" href="#">Новости</a>

            <div class="main-news-box">
                <div class="main-news-one">
                    <a class="main-news-one__title" href="#">ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>

                <div class="main-news-one">
                    <a class="main-news-one__title" href="#">ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>

                <div class="main-news-one">
                    <a class="main-news-one__title" href="#">ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
            </div>
            

        </div>
    </div>    
</div>
