<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a class="curr" href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a>
                </li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Центр обслуживания клиентов</h1>

            <div class="centr-top centr-top--sok">
                    <div class="centr-top__left">
                        <h2>ПАО «Томскэнергосбыт»<br>
                        Оказывает услуги организациям и частным лицам</h2>

                    </div>

                <div class="centr-contact centr-contact--sok">
                    <div>
                        <i class="icon--adress"></i><a href="#">Адреса Центров обслуживания клиентов</a>
                    </div>
                    <div>
                        <i class="icon--phone-sm"></i>8 800 775-47-87
                    </div>
                    <div>
                        <i class="icon--phone-mail"></i><a href="#">centr_ok@ensb.tomsk.ru</a>
                    </div>
                </div>
                
                <a href="#" class="centr-top__download">Прайс–лист центра обслуживания клиентов на 2016 г.</a>
            </div>
            
            <h3>Внедрение энергоснабжающих технологий</h3>
            
            <h4>Полный комплекс услуг по подготовке документов для заключения договоров электро- и теплоснабжения:</h4>

            <ul>
                <li>агентские услуги по получению технических условий и заключение договора на присоединение к электро- и теплосетям;</li>
                <li>проекты электро- и теплоснабжения;</li>
                <li>поиск подрядчиков на выполнение технических условий;</li>
                <li>проведение монтажных работ, электрические измерения и испытания;</li>
                <li>подготовка документов для заключения договоров;</li>
                <li>заключение договоров на электро- и теплоснабжение.</li>
            </ul>

            
            <h4>Внедрение энергоснабжающих технологий.</h4>
            <p>Полный комплекс услуг по установке узлов учёта электрической энергии, тепловой энергии, горячей и холодной воды, включая проектирование, монтаж, наладку и их допуск в эксплуатацию.</p>
                
           

        </div>
    </div>    
</div>
