<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a href="#">Пресс-центр</a>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a a class="curr" href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Энергосбережение</h1>

            <div class="energo-top">
                <h2>Энергосбережение<br>
                Законодательство Российской Федерации в сфере энергосбережения определяет
                <a href="#">(ФЗ РФ № 261-ФЗ от 23.11.2009)</a>:</h2>

                <ul>
                    <li>эффективное и рациональное использование энергетических ресурсов;</li>
                    <li>поддержку и стимулирование энергосбережения и повышения энергетической эффективности;</li>
                    <li>системность и комплексность проведения мероприятий по энергосбережению и повышению энергетической эффективности;</li>
                    <li>планирование энергосбережения и повышение энергетической эффективности;</li>
                    <li>использование энергетических ресурсов с учётом ресурсных, производственно-технологических, экологических и социальных условий.</li>
                </ul>
            </div>
            

            <div class="energo-block">
                <div class="energo-title">ПАО «Томскэнергосбыт» разъясняет:</div>
                <div class="energo-inn">

                    <div class="energo-inn-title">Энергосбережение</div>

                    <div class="energo-img">
                        <img src="tmp/energo.jpg" alt="">
                    </div>
                    <div class="energo-tabs">
                        <div class="tab-menu">
                            <div class="tab-menu__one active"><span>01.</span> В доме</div>
                            <div class="tab-menu__one"><span>02.</span> В офисе</div>
                            <div class="tab-menu__one"><span>03.</span> В организации</div>
                        </div>
                        <div class="tab-list">
                            <div class="tab-one open">
                            <ul>
                                <li>Энергетическое обследование (энергоаудит) Вашей квартиры или дома, включая внутридомовые сети и придомовую территорию. Энергоаудит – это обследование, призванное выявить, насколько рационально используются энергетические ресурсы.</li>
                                <li>Весь спектр энергосберегающих товаров от энергосберегающих ламп, до датчиков движения.</li>
                                <li>Приборы учёта электроэнергии, воды, тепла. Сервисное обслуживание.</li>
                            </ul>
                            </div>
                            <div class="tab-one">
                                <p>Для того чтобы сделать Ваше жилище не только энергоэффективным, но и безопасным необходимо, прежде всего, заменить энергоёмкие лампы накаливания на энергосберегающие люминесцентные или светодиодные лампы малой мощности, святящие так же ярко, как и лампы накаливания.</p>
                                <p>Для экономии общедомового потребления электроэнергии необходимо установить датчики движения в подъездах на входе и лестничных площадках, чтобы свет включался, когда Вы идёте и выключался, когда Вы отсутствуете.</p>
                            </div>
                            <div class="tab-one">
                                <ul>
                                    <li>Энергетическое обследование (энергоаудит) Вашей квартиры или дома, включая внутридомовые сети и придомовую территорию. Энергоаудит – это обследование, призванное выявить, насколько рационально используются энергетические ресурсы.</li>
                                    <li>Весь спектр энергосберегающих товаров от энергосберегающих ламп, до датчиков движения.</li>
                                    <li>Приборы учёта электроэнергии, воды, тепла. Сервисное обслуживание.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="energo-block">
                <div class="energo-title">ПАО «Томскэнергосбыт» разъясняет:</div>
                <div class="energo-inn">
                    <p>Для того чтобы сделать Ваше жилище не только энергоэффективным, но и безопасным необходимо, прежде всего, заменить энергоёмкие лампы накаливания на энергосберегающие люминесцентные или светодиодные лампы малой мощности, святящие так же ярко, как и лампы накаливания.</p>

                    <div class="energo-img">
                        <img src="tmp/energo.jpg" alt="">
                    </div>
                    <div class="energo-tabs">
                        <div class="tab-menu">
                            <div class="tab-menu__one active"><span>01.</span> В доме</div>
                            <div class="tab-menu__one"><span>02.</span> В офисе</div>
                            <div class="tab-menu__one"><span>03.</span> В организации</div>
                        </div>
                         <div class="tab-list">
                            <div class="tab-one open">
                            <ul>
                                <li>Энергетическое обследование (энергоаудит) Вашей квартиры или дома, включая внутридомовые сети и придомовую территорию. Энергоаудит – это обследование, призванное выявить, насколько рационально используются энергетические ресурсы.</li>
                                <li>Весь спектр энергосберегающих товаров от энергосберегающих ламп, до датчиков движения.</li>
                                <li>Приборы учёта электроэнергии, воды, тепла. Сервисное обслуживание.</li>
                            </ul>
                            </div>
                            <div class="tab-one">
                                <p>Для того чтобы сделать Ваше жилище не только энергоэффективным, но и безопасным необходимо, прежде всего, заменить энергоёмкие лампы накаливания на энергосберегающие люминесцентные или светодиодные лампы малой мощности, святящие так же ярко, как и лампы накаливания.</p>
                                <p>Для экономии общедомового потребления электроэнергии необходимо установить датчики движения в подъездах на входе и лестничных площадках, чтобы свет включался, когда Вы идёте и выключался, когда Вы отсутствуете.</p>
                            </div>
                            <div class="tab-one">
                                <ul>
                                    <li>Энергетическое обследование (энергоаудит) Вашей квартиры или дома, включая внутридомовые сети и придомовую территорию. Энергоаудит – это обследование, призванное выявить, насколько рационально используются энергетические ресурсы.</li>
                                    <li>Весь спектр энергосберегающих товаров от энергосберегающих ламп, до датчиков движения.</li>
                                    <li>Приборы учёта электроэнергии, воды, тепла. Сервисное обслуживание.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="energo-bottom">
                <h1>Центр обслуживания клиентов</h1>
                <h3>Клиенты всегда в центре</h3>
                <p>Наш адрес: г. Томск, ул. Котовского, 19<br>
                тел. 8 800 775 47 87<br>
                Полный комплекс услуг по энергоснабжению и энергосбережению</p>
            </div>
        </div>
    </div>    
</div>
