<div class="wrap">
    <div class="center clearfix">
        <div class="menu menu-inn">
            <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Физическим лицам</a></li>
                <li><a href="#">Юридическим лицам</a></li>
                <li><a href="#">Раскрытие информации акционерным обществом</a></li>
                <li><a class="curr" href="#">Пресс-центр</a>
                    <ul>
                        <li><a class="curr" href="#">Новости</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">Видеогалерея</a></li>
                    </ul>
                </li>
                <li><a href="#">Центр обслуживания клиентов</a></li>
                <li><a href="#">Интернет-приёмная</a></li>
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#">Закупки</a></li>
                <li><a href="#">Законодательство</a></li>
                <li><a href="#">Энергосбережение</a></li>
            </ul>
        </div>

        
        

        <div class="content">
            
            <h1 class="content-title">Новости</h1>

            <div class="news-filtr">
                <form action="" id="news-date">
                    <div class="news-filtr__title">За период времени:</div>
                    <div class="news-filtr-date">
                        <input class="datepicker" type="text" name="date-in" readonly="readonly">
                    </div>
                    <div class="news-filtr-date">
                        <input class="datepicker" type="text" name="date-out" readonly="readonly">
                    </div>
                    <button class="btn-submit" type="submit">Показать</button>
                </form>
            </div>

            <div class="main-news-box clearfix">
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>
                <div class="news-one">
                    <a class="news-one__title" href="#">
                    <span>ПАО «Томскэнергосбыт» наградило лучшего потребителя электроэнергии Томской области</span>
                    </a>
                    <div class="main-news-one__date">19 мая 2016 г.</div>
                    <div class="main-news-one__descr">17 мая 2016 года в Москве прошёл конкурс «Золотая опора» среди клиентов энергосбытовых компаний Группы «Интер РАО». Цель конкурса – поощрение потребителей, ... </div>
                    <a class="main-news-one__more" href="#">Читать далее</a>
                </div>

                
            </div>

            <div class="news-bottom">
                <div class="pagination">
                    <a href="#" class="prev">Назад</a>
                    <a href="#" class="pagination-one curr">1</a>
                    <a href="#" class="pagination-one">2</a>
                    <a href="#" class="pagination-one">3</a>
                    <a href="#" class="next">Вперед</a>
                </div>
            </div>

            <div class="bottom-content">
                <h1>Контакты для прессы</h1>
                <h3><b>Руководитель PR направления</b> <span>Ирина Владимировна Лихтенвальд</span></h3>
                <p>
                    <span>г. Томск, ул. Котовского, 19, каб 329&emsp;</span>           
                    <span>Тел./факс: (3822) 70 52 03&emsp;      </span> 
                    <span>E-mail: <a href="#">lihtenvald@ensb.tomsk.ru</a></span>
                </p>
            </div>
            

        </div>
    </div>    
</div>
